---
title: Create a Database Business Verification
excerpt: Create a new database business verification
api:
  file: persona-webhooks.json
  operationId: create-a-database-business-verification
hidden: false
---