---
title: Submit a Database Business Verification
excerpt: >-
  Submit a database business verification for processing. Can only submit
  `initiated` verifications
api:
  file: persona-webhooks.json
  operationId: submit-a-database-business-verification
hidden: false
---