---
title: Update a Database Business Verification
excerpt: >-
  Updates an existing database business verification. Can only update
  `initiated` verifications.
api:
  file: persona-webhooks.json
  operationId: update-a-database-business-verification
hidden: false
---