---
title: Confirm a Phone Number Verification
excerpt: >-
  Confirm the confirmation code sent to the phone number. Can only confirm
  `initiated` verifications.
api:
  file: persona-webhooks.json
  operationId: confirm-a-phone-number-verification
hidden: false
---