---
title: Retrieve a Phone Number Verification
excerpt: Retrieve a phone number verification
api:
  file: persona-webhooks.json
  operationId: retrieve-a-phone-number-verification
hidden: false
---