---
title: Submit a Phone Number Verification
excerpt: >-
  Submit a phone number verification for processing. Can only submit `initiated`
  verifications.
api:
  file: persona-webhooks.json
  operationId: submit-a-phone-number-verification
hidden: false
---