---
title: Update a Phone Number Verification
excerpt: >-
  Updates an existing phone number Verification. Can only update `initiated`
  verifications.
api:
  file: persona-webhooks.json
  operationId: update-a-phone-number-verification
hidden: false
---