---
title: Create an AAMVA Verification
excerpt: Create a new AAMVA verification
api:
  file: persona-webhooks.json
  operationId: create-an-aamva-verification
hidden: false
---