---
title: Retrieve an AAMVA Verification
excerpt: Retrieve an AAMVA verification
api:
  file: persona-webhooks.json
  operationId: retrieve-an-aamva-verification
hidden: false
---