---
title: Submit an AAMVA Verification
excerpt: >-
  Submit an AAMVA verification for processing. Can only submit `initiated`
  verifications.
api:
  file: persona-webhooks.json
  operationId: submit-an-aamva-verification
hidden: false
---