---
title: Update an AAMVA Verification
excerpt: >-
  Updates an existing AAMVA verification. Can only update `initiated`
  verifications.
api:
  file: persona-webhooks.json
  operationId: update-an-aamva-verification
hidden: false
---