---
title: Create a Government ID Verification
excerpt: Create a new government ID verification
api:
  file: persona-webhooks.json
  operationId: create-a-gov-id-verification
hidden: false
---