---
title: Retrieve a Government Id Verification
excerpt: Retrieve a government ID verification
api:
  file: persona-webhooks.json
  operationId: retrieve-a-government-id-verification
hidden: false
---