---
title: Submit a Government ID Verification
excerpt: >-
  Submit a government ID verification for processing. Can only submit
  `initiated` verifications with photos of the ID attached.
api:
  file: persona-webhooks.json
  operationId: submit-a-government-id-verification
hidden: false
---