---
title: Update a Government ID Verification
excerpt: >-
  Updates an existing government ID verification. Can only update `initiated`
  verifications.
api:
  file: persona-webhooks.json
  operationId: update-a-government-id-verification
hidden: false
---