---
title: Create a Database Standard Verification
excerpt: Create a new database standard verification
api:
  file: persona-webhooks.json
  operationId: create-a-database-standard-verification
hidden: false
---