---
title: Retrieve a Database Standard Verification
excerpt: Retrieve a database standard verification
api:
  file: persona-webhooks.json
  operationId: retrieve-a-database-standard-verification
hidden: false
---