---
title: Submit a Database Standard Verification
excerpt: >-
  Submit a database verification for processing. Can only submit `initiated`
  verifications
api:
  file: persona-webhooks.json
  operationId: submit-a-database-standard-verification
hidden: false
---