---
title: Confirm an Email Address Verification
excerpt: >-
  Confirm the confirmation code sent to the email address. Can only confirm
  `initiated` verifications.
api:
  file: persona-webhooks.json
  operationId: confirm-an-email-address-verification
hidden: false
---