---
title: Create an Email Address Verification
excerpt: Create a new email address verification
api:
  file: persona-webhooks.json
  operationId: create-an-email-address-verification
hidden: false
---