---
title: Retrieve a Email Address Verification
excerpt: Retrieve a email address verification
api:
  file: persona-webhooks.json
  operationId: retrieve-a-email-address-verification
hidden: false
---