---
title: Submit an Email Address Verification
excerpt: >-
  Submit an email address verification for processing. Can only submit
  `initiated` verifications.
api:
  file: persona-webhooks.json
  operationId: submit-an-email-address-verification
hidden: false
---