---
title: Retrieve a Phone Carrier Database Verification
excerpt: Retrieve a phone carrier database verification
api:
  file: persona-webhooks.json
  operationId: retrieve-a-phone-carrier-database-verification
hidden: false
---