---
title: Submit a Phone Carrier Database Verification
excerpt: >-
  Submit a phone carrier database verification for processing. Can only submit
  `initiated` verifications
api:
  file: persona-webhooks.json
  operationId: submit-a-phone-carrier-database-verification
hidden: false
---