---
title: Update a Phone Carrier Database Verification
excerpt: >-
  Updates an existing Phone Carrier Database verification. Can only update
  `initiated` verifications.
api:
  file: persona-webhooks.json
  operationId: update-a-phone-carrier-database-verification
hidden: false
---