---
title: Redact a Verification
excerpt: >-
  Permanently deletes personally identifiable information (PII) for a
  Verification. **This action cannot be undone**. This endpoint can be used to
  comply with privacy regulations such as GDPR / CCPA or to enforce data
  privacy.
api:
  file: persona-webhooks.json
  operationId: redact-a-verification
hidden: false
---