---
title: Retrieve a Verification
excerpt: Retrieves the details of an existing Verification.
api:
  file: persona-webhooks.json
  operationId: retrieve-a-verification
hidden: false
---