---
title: Create a TIN Database Verification
excerpt: Create a new TIN database verification
api:
  file: persona-webhooks.json
  operationId: create-a-tin-database-verification
hidden: false
---