---
title: Retrieve a TIN Database Verification
excerpt: Retrieve a TIN database verification
api:
  file: persona-webhooks.json
  operationId: retrieve-a-tin-database-verification
hidden: false
---