---
title: Submit a TIN Database Verification
excerpt: >-
  Submit a TIN database verification for processing. Can only submit `initiated`
  verifications
api:
  file: persona-webhooks.json
  operationId: submit-a-tin-database-verification
hidden: false
---