---
title: Update a TIN Database Verification
excerpt: >-
  Updates an existing TIN Database verification. Can only update `initiated`
  verifications.
api:
  file: persona-webhooks.json
  operationId: update-a-tin-database-verification
hidden: false
---