{
  "openapi": "3.0.0",
  "info": { "title": "Load Management", "version": "1.0.0" },
  "servers": [
    { "url": "https://api-int.truckstop.com" },
    { "url": "https://api.truckstop.com" }
  ],
  "components": {
    "securitySchemes": { "bearerAuth": { "type": "http", "scheme": "bearer" } },
    "schemas": {
      "StatusSet": {
        "type": "object",
        "properties": {
          "code": { "type": "number", "example": 3713 },
          "descriptor": { "type": "string", "example": "CarrierAddedToGroup" },
          "message": { "type": "string", "example": "Carrier Added To Group" },
          "field": { "type": "string", "example": null }
        },
        "x-readme-ref-name": "StatusSet"
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "totalPages": { "type": "number", "example": 1, "readOnly": true },
          "pageNumber": { "type": "number", "example": 1 },
          "pageSize": { "type": "number", "example": 100 },
          "totalItemCount": {
            "type": "number",
            "example": 1,
            "readOnly": true
          },
          "resultsTruncated": {
            "type": "boolean",
            "example": false,
            "readOnly": true
          }
        },
        "x-readme-ref-name": "Pagination"
      },
      "SortFields": {
        "type": "object",
        "properties": {
          "sortName": { "type": "string", "example": "AllInRateAmount" }
        },
        "x-readme-ref-name": "SortFields"
      },
      "SearchFields": {
        "type": "object",
        "properties": {
          "searchName": { "type": "string", "example": "LoadActionId" },
          "searchDataType": { "type": "string", "example": "Integer" },
          "comparisonOperators": {
            "type": "array",
            "items": { "type": "string", "example": ["Eq", "In"] }
          }
        },
        "x-readme-ref-name": "SearchFields"
      },
      "SearchObject": {
        "type": "object",
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "totalPages": {
                "type": "number",
                "example": 1,
                "readOnly": true
              },
              "pageNumber": { "type": "number", "example": 1 },
              "pageSize": { "type": "number", "example": 100 },
              "totalItemCount": {
                "type": "number",
                "example": 1,
                "readOnly": true
              },
              "resultsTruncated": {
                "type": "boolean",
                "example": false,
                "readOnly": true
              }
            },
            "x-readme-ref-name": "Pagination"
          },
          "searchCriteria": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string", "example": "mcnumber" },
                "operator": { "type": "string", "example": "Eq" },
                "value": { "type": "string", "example": 123456 },
                "valueTo": { "type": "string", "example": "09/25/2024" },
                "logicalOperator": {
                  "type": "string",
                  "example": "Or",
                  "enum": ["And", "Or"]
                }
              },
              "required": ["Name", "Operator", "Value"]
            }
          },
          "sortCriteria": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "direction": {
                  "type": "string",
                  "example": "ascending",
                  "enum": ["ascending", "descending"]
                },
                "name": { "type": "string", "example": "mcnumber" }
              }
            }
          }
        },
        "x-readme-ref-name": "SearchObject"
      },
      "Tender": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "01575c62-c902-4fa8-b539-18fd73225c88"
          },
          "load": {
            "type": "object",
            "properties": {
              "loadId": {
                "type": "string",
                "example": "76508f7a-1411-45f8-94a1-cd200e6661b2"
              },
              "loadActionId": { "type": "number", "example": 1 },
              "loadTrackingRequired": { "type": "boolean", "example": false },
              "equipmentAttributes": {
                "type": "object",
                "properties": {
                  "transportationModeId": { "type": "number", "example": 1 },
                  "typeOfEquipmentId": { "type": "number", "example": 43 },
                  "equipmentOptions": {
                    "type": "array",
                    "items": { "type": "number", "example": 1 }
                  },
                  "otherEquipmentNeeds": { "type": "string", "example": null },
                  "commodityId": { "type": "number", "example": 1 }
                }
              },
              "dimensional": {
                "type": "object",
                "properties": {
                  "length": { "type": "number", "example": 53 },
                  "width": { "type": "number", "example": 8 },
                  "height": { "type": "number", "example": 10 },
                  "weight": { "type": "number", "example": 40000 },
                  "palletCount": { "type": "number", "example": 5 },
                  "pieceCount": { "type": "number", "example": 500 },
                  "cube": { "type": "number", "example": 4240 }
                },
                "x-readme-ref-name": "Dimensional"
              },
              "loadNumber": { "type": "string", "example": "123ABC" },
              "loadReferenceNumbers": {
                "type": "array",
                "items": { "type": "string", "example": "ABC123" }
              },
              "loadState": { "type": "number", "example": 3 },
              "note": { "type": "string", "example": "Load specific notes" },
              "loadStops": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "8ee4e385-e266-436a-a176-08dcd8c7603b",
                      "readOnly": true
                    },
                    "type": { "type": "number", "example": 1 },
                    "sequence": { "type": "number", "example": 1 },
                    "earlyDateTime": {
                      "type": "string",
                      "example": "2024-09-24T11:34:32"
                    },
                    "lateDateTime": {
                      "type": "string",
                      "example": "2024-09-24T11:34:32"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "null",
                          "readOnly": true
                        },
                        "locationName": {
                          "type": "string",
                          "example": "Shipper Name"
                        },
                        "city": { "type": "string", "example": "Chicago" },
                        "state": {
                          "type": "string",
                          "example": "IL",
                          "minLength": 2,
                          "maxLength": 2
                        },
                        "streetAddress1": {
                          "type": "string",
                          "example": "123 Main St."
                        },
                        "streetAddress2": {
                          "type": "string",
                          "example": "null"
                        },
                        "countryCode": {
                          "type": "string",
                          "example": "USA",
                          "minLength": 3,
                          "maxLength": 3
                        },
                        "postalCode": { "type": "string", "example": 60007 },
                        "latitude": { "type": "number", "example": 41.8781 },
                        "longitude": { "type": "number", "example": -87.6298 }
                      },
                      "x-readme-ref-name": "Location"
                    },
                    "contactName": {
                      "type": "string",
                      "example": "Joseph Smith"
                    },
                    "contactPhone": {
                      "type": "string",
                      "example": 1234567890,
                      "minLength": 10,
                      "maxLength": 10
                    },
                    "stopNotes": {
                      "type": "string",
                      "example": "This is the pickup"
                    },
                    "referenceNumbers": {
                      "type": "array",
                      "items": { "type": "string" }
                    }
                  },
                  "x-readme-ref-name": "LoadStop"
                }
              },
              "postAsUserId": {
                "type": "string",
                "example": "a674bba1-b595-bb02-6072-a254a14539d6"
              },
              "mileage": { "type": "number", "example": null },
              "sourceType": { "type": "number", "example": 0 }
            }
          },
          "tenderAllInRate": {
            "type": "object",
            "properties": {
              "amount": { "type": "number", "example": 123.45 },
              "currencyCode": { "type": "string", "example": "USD" }
            }
          },
          "brokerInfo": {
            "type": "object",
            "properties": {
              "brokerUserId": {
                "type": "string",
                "example": "a674bba1-b595-bb02-6072-a254a14539d6"
              },
              "brokerAccountId": {
                "type": "string",
                "example": "3d45735a-b155-e911-aa1e-b0e52ccc70f6"
              },
              "brokerCompanyName": {
                "type": "string",
                "example": "My Brokerage"
              }
            }
          },
          "termsAndConditionsInfo": {
            "type": "object",
            "properties": {
              "tcId": {
                "type": "string",
                "example": "3e5c0f8b-dd93-ea11-aa57-ba6fbe72511d"
              },
              "termsAndConditions": {
                "type": "string",
                "example": "These are my terms"
              }
            }
          },
          "initiatedByUserId": {
            "type": "string",
            "example": "a674bba1-b595-bb02-6072-a254a14539d6"
          },
          "carrierInfo": {
            "type": "object",
            "properties": {
              "carrierUserId": {
                "type": "string",
                "example": "a674bba1-b595-bb02-6072-a254a14539d6"
              },
              "carrierAccountId": {
                "type": "string",
                "example": "3d45735a-b155-e911-aa1e-b0e52ccc70f6"
              },
              "carrierCompanyName": {
                "type": "string",
                "example": "TEST COMPANY"
              }
            }
          },
          "updated": {
            "type": "string",
            "example": "2024-09-24T20:15:15.567Z"
          },
          "reasonCode": { "type": "string", "example": null },
          "reasonDescription": { "type": "string", "example": "" },
          "tenderState": { "type": "number", "example": 4 },
          "tenderStateName": { "type": "string", "example": "Accepted" }
        },
        "x-readme-ref-name": "Tender"
      },
      "TermsAndConditions": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "b64f76d0-5ee1-e911-aa11-ac4ba6accd3e",
            "readOnly": true
          },
          "createdByAccountId": {
            "type": "string",
            "example": "048d4d8c-9b1d-e911-a9ec-a3b8a698ca96",
            "readOnly": true
          },
          "createdBy": {
            "type": "string",
            "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96",
            "readOnly": true
          },
          "updatedBy": {
            "type": "string",
            "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96",
            "readOnly": true
          },
          "createdDateTime": {
            "type": "string",
            "example": "2019-09-27T19:41:30",
            "readOnly": true
          },
          "updatedDateTime": {
            "type": "string",
            "example": "2019-09-27T19:41:30",
            "readOnly": true
          },
          "isDeleted": {
            "type": "boolean",
            "example": false,
            "readOnly": true
          },
          "name": { "type": "string", "example": "My Terms" },
          "content": {
            "type": "string",
            "example": "This is the terms and conditions for this load"
          }
        },
        "x-readme-ref-name": "TermsAndConditions"
      },
      "CarrierGroupReturn": {
        "type": "object",
        "properties": {
          "assigned": { "type": "boolean", "example": true },
          "id": {
            "type": "string",
            "example": "f53705f5-af44-46b0-95cd-340d3a834551"
          },
          "status": { "type": "number", "example": 1 },
          "name": { "type": "string", "example": "Group 1" }
        },
        "x-readme-ref-name": "CarrierGroupReturn"
      },
      "BulkCarrierGroupAddReturn": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": {
            "type": "object",
            "properties": {
              "carrierGroupId": {
                "type": "string",
                "example": "8c3954a6-ccc2-419a-a125-f33304c7aed2"
              },
              "carrierProfileIds": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "string",
                      "example": "c968fa94-b396-ea11-aa57-f6eb2fb44b8a"
                    },
                    "statusSet": {
                      "type": "object",
                      "properties": {
                        "code": { "type": "number", "example": 3713 },
                        "descriptor": {
                          "type": "string",
                          "example": "CarrierAddedToGroup"
                        },
                        "message": {
                          "type": "string",
                          "example": "Carrier Added To Group"
                        },
                        "field": { "type": "string", "example": null }
                      },
                      "x-readme-ref-name": "StatusSet"
                    }
                  }
                }
              }
            }
          },
          "statusSet": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": { "type": "number", "example": 3713 },
                "descriptor": {
                  "type": "string",
                  "example": "CarrierAddedToGroup"
                },
                "message": {
                  "type": "string",
                  "example": "Carrier Added To Group"
                },
                "field": { "type": "string", "example": null }
              },
              "x-readme-ref-name": "StatusSet"
            },
            "example": [
              {
                "code": 200,
                "descriptor": "OK",
                "message": "Request completed successfully",
                "field": null
              }
            ]
          }
        },
        "x-readme-ref-name": "BulkCarrierGroupAddReturn"
      },
      "CarrierGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "8c3954a6-ccc2-419a-a125-f33304c7aed2",
            "readOnly": true
          },
          "status": { "type": "number", "example": 0, "readOnly": true },
          "name": { "type": "string", "example": "MyCarrierGroup1" }
        },
        "x-readme-ref-name": "CarrierGroup"
      },
      "Carrier": {
        "type": "object",
        "properties": {
          "carrierProfileId": {
            "type": "string",
            "example": "941f5fce-2de6-e911-aa12-9f2efc3a92b4",
            "readOnly": true
          },
          "createdDateTime": {
            "type": "string",
            "example": "2019-10-03T22:33:15",
            "readOnly": true
          },
          "updatedDateTime": {
            "type": "string",
            "example": null,
            "readOnly": true
          },
          "tenderEnabled": { "type": "boolean", "example": true },
          "status": { "type": "number", "example": 1 },
          "carrierNumber": { "type": "string", "example": null },
          "customData": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": { "type": "string", "example": "My_Custom_Key" },
                "value": { "type": "string", "example": "My_Custom_Value" }
              }
            }
          },
          "companyName": {
            "type": "string",
            "example": "Haulers",
            "readOnly": true
          },
          "mcNumber": { "type": "string", "example": 123456 },
          "dotNumber": { "type": "string", "example": 1234567 }
        },
        "x-readme-ref-name": "Carrier"
      },
      "Refresh": {
        "type": "object",
        "properties": {
          "declined": { "type": "number", "example": 0 },
          "successful": { "type": "number", "example": 1 },
          "failed": { "type": "number", "example": 0 },
          "jobId": {
            "type": "string",
            "example": "fbdac8a3-a6a2-466f-b71f-3a5be37f4a4c"
          },
          "statuses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "loadId": {
                  "type": "string",
                  "example": "ce5f2a3d-89da-4c8c-8a27-454dc2f3d511"
                },
                "status": { "type": "number", "example": 1 },
                "nextRefreshAvailableAt": {
                  "type": "string",
                  "example": "2024-09-23T13:49:00Z"
                },
                "error": { "type": "string", "example": null }
              }
            },
            "example": false
          }
        },
        "x-readme-ref-name": "Refresh"
      },
      "Dimensional": {
        "type": "object",
        "properties": {
          "length": { "type": "number", "example": 53 },
          "width": { "type": "number", "example": 8 },
          "height": { "type": "number", "example": 10 },
          "weight": { "type": "number", "example": 40000 },
          "palletCount": { "type": "number", "example": 5 },
          "pieceCount": { "type": "number", "example": 500 },
          "cube": { "type": "number", "example": 4240 }
        },
        "x-readme-ref-name": "Dimensional"
      },
      "Rate": {
        "type": "object",
        "properties": {
          "amount": { "type": "number", "example": 123.45 },
          "currencyCode": {
            "type": "string",
            "example": "USD",
            "minLength": 3,
            "maxLength": 3
          }
        },
        "x-readme-ref-name": "Rate"
      },
      "RateAttributes": {
        "description": "<span style=\"color:#eab676\">Posted All In Rate is for standard loads<br/>Tender All In Rate is for BIN loads</span>",
        "type": "object",
        "properties": {
          "postedAllInRate": {
            "type": "object",
            "properties": {
              "amount": { "type": "number", "example": 123.45 },
              "currencyCode": {
                "type": "string",
                "example": "USD",
                "minLength": 3,
                "maxLength": 3
              }
            },
            "x-readme-ref-name": "Rate"
          },
          "tenderAllInRate": {
            "type": "object",
            "properties": {
              "amount": { "type": "number", "example": 123.45 },
              "currencyCode": {
                "type": "string",
                "example": "USD",
                "minLength": 3,
                "maxLength": 3
              }
            },
            "x-readme-ref-name": "Rate"
          }
        },
        "x-readme-ref-name": "RateAttributes"
      },
      "PostAsUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96"
          },
          "firstName": { "type": "string", "example": "Tom" },
          "lastName": { "type": "string", "example": "Jerry" },
          "email": { "type": "string", "example": "tomjerry@truckstop.com" },
          "phone": { "type": "string", "example": "(123) 456-7890" },
          "userName": { "type": "string", "example": "TOMJERRY" }
        },
        "x-readme-ref-name": "PostAsUser"
      },
      "LoadState": {
        "type": "object",
        "properties": {
          "loadStateDescription": { "type": "string", "example": "Posted" },
          "loadStateId": { "type": "number", "example": 1 }
        },
        "x-readme-ref-name": "LoadState"
      },
      "LoadStateReason": {
        "type": "object",
        "properties": {
          "loadStateReasonDescription": {
            "type": "string",
            "example": "Not Specified"
          },
          "loadStateReasonId": { "type": "number", "example": 0 }
        },
        "x-readme-ref-name": "LoadStateReason"
      },
      "LoadActivity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cc6f6efc-f111-4eaf-7a7d-08dcd8c75967"
          },
          "createdDate": { "type": "string", "example": "2024-09-23T15:34:33" },
          "loadState": {
            "type": "object",
            "properties": {
              "loadStateDescription": { "type": "string", "example": "Posted" },
              "loadStateId": { "type": "number", "example": 1 }
            },
            "x-readme-ref-name": "LoadState"
          },
          "loadStateReason": {
            "type": "object",
            "properties": {
              "loadStateReasonDescription": {
                "type": "string",
                "example": "Not Specified"
              },
              "loadStateReasonId": { "type": "number", "example": 0 }
            },
            "x-readme-ref-name": "LoadStateReason"
          },
          "comment": { "type": "string", "example": "null" }
        },
        "x-readme-ref-name": "LoadActivity"
      },
      "EquipmentAttributes": {
        "type": "object",
        "properties": {
          "equipmentTypeId": { "type": "number", "example": 17 },
          "equipmentOptions": {
            "type": "array",
            "items": { "type": "number", "example": 2 }
          },
          "transportationModeId": { "type": "number", "example": 2 },
          "otherEquipmentNeeds": {
            "type": "string",
            "example": "Pallet Return"
          }
        },
        "x-readme-ref-name": "EquipmentAttributes"
      },
      "LoadStop": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "8ee4e385-e266-436a-a176-08dcd8c7603b",
            "readOnly": true
          },
          "type": { "type": "number", "example": 1 },
          "sequence": { "type": "number", "example": 1 },
          "earlyDateTime": {
            "type": "string",
            "example": "2024-09-24T11:34:32"
          },
          "lateDateTime": {
            "type": "string",
            "example": "2024-09-24T11:34:32"
          },
          "location": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "example": "null", "readOnly": true },
              "locationName": { "type": "string", "example": "Shipper Name" },
              "city": { "type": "string", "example": "Chicago" },
              "state": {
                "type": "string",
                "example": "IL",
                "minLength": 2,
                "maxLength": 2
              },
              "streetAddress1": { "type": "string", "example": "123 Main St." },
              "streetAddress2": { "type": "string", "example": "null" },
              "countryCode": {
                "type": "string",
                "example": "USA",
                "minLength": 3,
                "maxLength": 3
              },
              "postalCode": { "type": "string", "example": 60007 },
              "latitude": { "type": "number", "example": 41.8781 },
              "longitude": { "type": "number", "example": -87.6298 }
            },
            "x-readme-ref-name": "Location"
          },
          "contactName": { "type": "string", "example": "Joseph Smith" },
          "contactPhone": {
            "type": "string",
            "example": 1234567890,
            "minLength": 10,
            "maxLength": 10
          },
          "stopNotes": { "type": "string", "example": "This is the pickup" },
          "referenceNumbers": { "type": "array", "items": { "type": "string" } }
        },
        "x-readme-ref-name": "LoadStop"
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "null", "readOnly": true },
          "locationName": { "type": "string", "example": "Shipper Name" },
          "city": { "type": "string", "example": "Chicago" },
          "state": {
            "type": "string",
            "example": "IL",
            "minLength": 2,
            "maxLength": 2
          },
          "streetAddress1": { "type": "string", "example": "123 Main St." },
          "streetAddress2": { "type": "string", "example": "null" },
          "countryCode": {
            "type": "string",
            "example": "USA",
            "minLength": 3,
            "maxLength": 3
          },
          "postalCode": { "type": "string", "example": 60007 },
          "latitude": { "type": "number", "example": 41.8781 },
          "longitude": { "type": "number", "example": -87.6298 }
        },
        "x-readme-ref-name": "Location"
      },
      "Load": {
        "type": "object",
        "properties": {
          "loadId": {
            "type": "string",
            "example": "a020197d-511c-4370-aa8d-2b6172fecc4c",
            "readOnly": true
          },
          "legacyLoadId": {
            "type": "string",
            "example": "null",
            "readOnly": true
          },
          "postasuserID": {
            "type": "string",
            "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96",
            "description": "<span style=\"color:#eab676\">(Optional)<br/>Unique GUID of the user you wish to post the load as (If not the authenticated user)<br/><br/>Leave blank to omit this field</span>"
          },
          "postAsUser": {
            "allOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96"
                  },
                  "firstName": { "type": "string", "example": "Tom" },
                  "lastName": { "type": "string", "example": "Jerry" },
                  "email": {
                    "type": "string",
                    "example": "tomjerry@truckstop.com"
                  },
                  "phone": { "type": "string", "example": "(123) 456-7890" },
                  "userName": { "type": "string", "example": "TOMJERRY" }
                },
                "x-readme-ref-name": "PostAsUser"
              },
              { "readOnly": true }
            ]
          },
          "createdBy": {
            "type": "string",
            "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96",
            "readOnly": true
          },
          "updatedBy": {
            "type": "string",
            "example": "null",
            "readOnly": true
          },
          "createdDateTime": {
            "type": "string",
            "example": "2024-09-23T15:34:33",
            "readOnly": true
          },
          "updatedDateTime": {
            "type": "string",
            "example": "2024-09-23T15:34:33",
            "readOnly": true
          },
          "loadState": {
            "allOf": [
              {
                "type": "object",
                "properties": {
                  "loadStateDescription": {
                    "type": "string",
                    "example": "Posted"
                  },
                  "loadStateId": { "type": "number", "example": 1 }
                },
                "x-readme-ref-name": "LoadState"
              },
              { "readOnly": true }
            ]
          },
          "loadStateReason": {
            "allOf": [
              {
                "type": "object",
                "properties": {
                  "loadStateReasonDescription": {
                    "type": "string",
                    "example": "Not Specified"
                  },
                  "loadStateReasonId": { "type": "number", "example": 0 }
                },
                "x-readme-ref-name": "LoadStateReason"
              },
              { "readOnly": true }
            ]
          },
          "tenderId": { "type": "number", "readOnly": true },
          "carrierName": {
            "type": "string",
            "example": "null",
            "readOnly": true
          },
          "loadActivity": {
            "allOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "cc6f6efc-f111-4eaf-7a7d-08dcd8c75967"
                  },
                  "createdDate": {
                    "type": "string",
                    "example": "2024-09-23T15:34:33"
                  },
                  "loadState": {
                    "type": "object",
                    "properties": {
                      "loadStateDescription": {
                        "type": "string",
                        "example": "Posted"
                      },
                      "loadStateId": { "type": "number", "example": 1 }
                    },
                    "x-readme-ref-name": "LoadState"
                  },
                  "loadStateReason": {
                    "type": "object",
                    "properties": {
                      "loadStateReasonDescription": {
                        "type": "string",
                        "example": "Not Specified"
                      },
                      "loadStateReasonId": { "type": "number", "example": 0 }
                    },
                    "x-readme-ref-name": "LoadStateReason"
                  },
                  "comment": { "type": "string", "example": "null" }
                },
                "x-readme-ref-name": "LoadActivity"
              },
              { "readOnly": true }
            ]
          },
          "equipmentAttributes": {
            "type": "object",
            "properties": {
              "equipmentTypeId": { "type": "number", "example": 17 },
              "equipmentOptions": {
                "type": "array",
                "items": { "type": "number", "example": 2 }
              },
              "transportationModeId": { "type": "number", "example": 2 },
              "otherEquipmentNeeds": {
                "type": "string",
                "example": "Pallet Return"
              }
            },
            "x-readme-ref-name": "EquipmentAttributes"
          },
          "commodityId": {
            "type": "number",
            "example": 1,
            "description": "<span style=\"color:#eab676\">Integer ID of the commodity for this load <br/><br/><a href=\"commodities\" target=\"_blank\">Commodities List</a></span>"
          },
          "loadStops": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "8ee4e385-e266-436a-a176-08dcd8c7603b",
                  "readOnly": true
                },
                "type": { "type": "number", "example": 1 },
                "sequence": { "type": "number", "example": 1 },
                "earlyDateTime": {
                  "type": "string",
                  "example": "2024-09-24T11:34:32"
                },
                "lateDateTime": {
                  "type": "string",
                  "example": "2024-09-24T11:34:32"
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "null",
                      "readOnly": true
                    },
                    "locationName": {
                      "type": "string",
                      "example": "Shipper Name"
                    },
                    "city": { "type": "string", "example": "Chicago" },
                    "state": {
                      "type": "string",
                      "example": "IL",
                      "minLength": 2,
                      "maxLength": 2
                    },
                    "streetAddress1": {
                      "type": "string",
                      "example": "123 Main St."
                    },
                    "streetAddress2": { "type": "string", "example": "null" },
                    "countryCode": {
                      "type": "string",
                      "example": "USA",
                      "minLength": 3,
                      "maxLength": 3
                    },
                    "postalCode": { "type": "string", "example": 60007 },
                    "latitude": { "type": "number", "example": 41.8781 },
                    "longitude": { "type": "number", "example": -87.6298 }
                  },
                  "x-readme-ref-name": "Location"
                },
                "contactName": { "type": "string", "example": "Joseph Smith" },
                "contactPhone": {
                  "type": "string",
                  "example": 1234567890,
                  "minLength": 10,
                  "maxLength": 10
                },
                "stopNotes": {
                  "type": "string",
                  "example": "This is the pickup"
                },
                "referenceNumbers": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              },
              "x-readme-ref-name": "LoadStop"
            },
            "minItems": 2,
            "example": [
              {
                "type": 1,
                "sequence": 1,
                "earlyDateTime": "2024-09-24T11:00:00",
                "lateDateTime": "2024-09-24T11:00:00",
                "location": {
                  "locationName": "Shipper",
                  "city": "Chicago",
                  "state": "IL",
                  "streetAddress1": "123 Main St",
                  "streetAddress2": null,
                  "countryCode": "USA",
                  "postalCode": 60007,
                  "latitude": 41.8781,
                  "longitude": -87.6298
                },
                "contactName": "Joseph Smith",
                "contactPhone": 1234567890,
                "stopNotes": "Pickup"
              },
              {
                "type": 2,
                "sequence": 2,
                "earlyDateTime": "2024-09-24T11:00:00",
                "lateDateTime": "2024-09-24T11:00:00",
                "location": {
                  "locationName": "Receiver",
                  "city": "Chicago",
                  "state": "IL",
                  "streetAddress1": "321 Main St",
                  "streetAddress2": null,
                  "countryCode": "USA",
                  "postalCode": 60007,
                  "latitude": 41.8781,
                  "longitude": -87.6298
                },
                "contactName": "Joseph Smith",
                "contactPhone": 1234567890,
                "stopNotes": "Drop Off"
              }
            ]
          },
          "note": {
            "type": "string",
            "example": "Important Load Info",
            "description": "<span style=\"color:#eab676\">Any publically visible loads notes (0-4000 characters)</span>"
          },
          "freightClassId": { "type": "number", "example": 1 },
          "loadNumber": {
            "type": "string",
            "example": "Load123-456",
            "description": "<span style=\"color:#eab676\">Broker specific load identifer</span>"
          },
          "loadTrackingRequired": {
            "type": "boolean",
            "example": false,
            "description": "<span style=\"color:#eab676\">Only used for BIN loads, should be false for standard loads</span>"
          },
          "rateAttributes": {
            "description": "<span style=\"color:#eab676\">Posted All In Rate is for standard loads<br/>Tender All In Rate is for BIN loads</span>",
            "type": "object",
            "properties": {
              "postedAllInRate": {
                "type": "object",
                "properties": {
                  "amount": { "type": "number", "example": 123.45 },
                  "currencyCode": {
                    "type": "string",
                    "example": "USD",
                    "minLength": 3,
                    "maxLength": 3
                  }
                },
                "x-readme-ref-name": "Rate"
              },
              "tenderAllInRate": {
                "type": "object",
                "properties": {
                  "amount": { "type": "number", "example": 123.45 },
                  "currencyCode": {
                    "type": "string",
                    "example": "USD",
                    "minLength": 3,
                    "maxLength": 3
                  }
                },
                "x-readme-ref-name": "Rate"
              }
            },
            "x-readme-ref-name": "RateAttributes"
          },
          "customData": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": { "type": "string", "example": "My_Custom_Field" },
                "value": { "type": "string", "example": "My_Custom_Value" }
              }
            }
          },
          "distance": { "type": "number", "example": 123, "readOnly": true },
          "Dimensional": {
            "type": "object",
            "properties": {
              "length": { "type": "number", "example": 53 },
              "width": { "type": "number", "example": 8 },
              "height": { "type": "number", "example": 10 },
              "weight": { "type": "number", "example": 40000 },
              "palletCount": { "type": "number", "example": 5 },
              "pieceCount": { "type": "number", "example": 500 },
              "cube": { "type": "number", "example": 4240 }
            },
            "x-readme-ref-name": "Dimensional"
          },
          "LoadActionAttributes": {
            "type": "object",
            "description": "<span style=\"color:#eab676\">4 - PostOnly is for standard loads<br/>1 - PostOnlineTender is for BIN loads</span>",
            "properties": {
              "loadActionId": { "type": "string", "example": 4 },
              "loadActionOption": { "type": "string", "example": "PostOnly" }
            }
          },
          "LoadLabel": { "type": "string", "example": "Boxes of screws" },
          "tenderNotes": {
            "type": "string",
            "example": "Notes shown after booking",
            "description": "<span style=\"color:#eab676\">These notes are not displayed until the load is booked</span>"
          },
          "loadReferenceNumbers": {
            "type": "array",
            "items": { "type": "string" }
          },
          "termsAndConditions": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "example": "1234-56789-0123456" },
              "name": {
                "type": "string",
                "example": "My T&C",
                "readOnly": true
              }
            }
          },
          "carrierTenderGroupIds": {
            "type": "array",
            "items": { "type": "number" },
            "readOnly": true
          },
          "isPrivate": { "type": "boolean", "example": false, "readOnly": true }
        },
        "x-readme-ref-name": "Load"
      }
    }
  },
  "paths": {
    "/loadmanagement/v2/load": {
      "post": {
        "tags": ["Load Operations"],
        "summary": "Post a Load",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "description": "JSON payload containing the load details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "loadId": {
                    "type": "string",
                    "example": "a020197d-511c-4370-aa8d-2b6172fecc4c",
                    "readOnly": true
                  },
                  "legacyLoadId": {
                    "type": "string",
                    "example": "null",
                    "readOnly": true
                  },
                  "postasuserID": {
                    "type": "string",
                    "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96",
                    "description": "<span style=\"color:#eab676\">(Optional)<br/>Unique GUID of the user you wish to post the load as (If not the authenticated user)<br/><br/>Leave blank to omit this field</span>"
                  },
                  "postAsUser": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96"
                          },
                          "firstName": { "type": "string", "example": "Tom" },
                          "lastName": { "type": "string", "example": "Jerry" },
                          "email": {
                            "type": "string",
                            "example": "tomjerry@truckstop.com"
                          },
                          "phone": {
                            "type": "string",
                            "example": "(123) 456-7890"
                          },
                          "userName": {
                            "type": "string",
                            "example": "TOMJERRY"
                          }
                        },
                        "x-readme-ref-name": "PostAsUser"
                      },
                      { "readOnly": true }
                    ]
                  },
                  "createdBy": {
                    "type": "string",
                    "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96",
                    "readOnly": true
                  },
                  "updatedBy": {
                    "type": "string",
                    "example": "null",
                    "readOnly": true
                  },
                  "createdDateTime": {
                    "type": "string",
                    "example": "2024-09-23T15:34:33",
                    "readOnly": true
                  },
                  "updatedDateTime": {
                    "type": "string",
                    "example": "2024-09-23T15:34:33",
                    "readOnly": true
                  },
                  "loadState": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "loadStateDescription": {
                            "type": "string",
                            "example": "Posted"
                          },
                          "loadStateId": { "type": "number", "example": 1 }
                        },
                        "x-readme-ref-name": "LoadState"
                      },
                      { "readOnly": true }
                    ]
                  },
                  "loadStateReason": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "loadStateReasonDescription": {
                            "type": "string",
                            "example": "Not Specified"
                          },
                          "loadStateReasonId": {
                            "type": "number",
                            "example": 0
                          }
                        },
                        "x-readme-ref-name": "LoadStateReason"
                      },
                      { "readOnly": true }
                    ]
                  },
                  "tenderId": { "type": "number", "readOnly": true },
                  "carrierName": {
                    "type": "string",
                    "example": "null",
                    "readOnly": true
                  },
                  "loadActivity": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "cc6f6efc-f111-4eaf-7a7d-08dcd8c75967"
                          },
                          "createdDate": {
                            "type": "string",
                            "example": "2024-09-23T15:34:33"
                          },
                          "loadState": {
                            "type": "object",
                            "properties": {
                              "loadStateDescription": {
                                "type": "string",
                                "example": "Posted"
                              },
                              "loadStateId": { "type": "number", "example": 1 }
                            },
                            "x-readme-ref-name": "LoadState"
                          },
                          "loadStateReason": {
                            "type": "object",
                            "properties": {
                              "loadStateReasonDescription": {
                                "type": "string",
                                "example": "Not Specified"
                              },
                              "loadStateReasonId": {
                                "type": "number",
                                "example": 0
                              }
                            },
                            "x-readme-ref-name": "LoadStateReason"
                          },
                          "comment": { "type": "string", "example": "null" }
                        },
                        "x-readme-ref-name": "LoadActivity"
                      },
                      { "readOnly": true }
                    ]
                  },
                  "equipmentAttributes": {
                    "type": "object",
                    "properties": {
                      "equipmentTypeId": { "type": "number", "example": 17 },
                      "equipmentOptions": {
                        "type": "array",
                        "items": { "type": "number", "example": 2 }
                      },
                      "transportationModeId": {
                        "type": "number",
                        "example": 2
                      },
                      "otherEquipmentNeeds": {
                        "type": "string",
                        "example": "Pallet Return"
                      }
                    },
                    "x-readme-ref-name": "EquipmentAttributes"
                  },
                  "commodityId": {
                    "type": "number",
                    "example": 1,
                    "description": "<span style=\"color:#eab676\">Integer ID of the commodity for this load <br/><br/><a href=\"commodities\" target=\"_blank\">Commodities List</a></span>"
                  },
                  "loadStops": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "8ee4e385-e266-436a-a176-08dcd8c7603b",
                          "readOnly": true
                        },
                        "type": { "type": "number", "example": 1 },
                        "sequence": { "type": "number", "example": 1 },
                        "earlyDateTime": {
                          "type": "string",
                          "example": "2024-09-24T11:34:32"
                        },
                        "lateDateTime": {
                          "type": "string",
                          "example": "2024-09-24T11:34:32"
                        },
                        "location": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "null",
                              "readOnly": true
                            },
                            "locationName": {
                              "type": "string",
                              "example": "Shipper Name"
                            },
                            "city": { "type": "string", "example": "Chicago" },
                            "state": {
                              "type": "string",
                              "example": "IL",
                              "minLength": 2,
                              "maxLength": 2
                            },
                            "streetAddress1": {
                              "type": "string",
                              "example": "123 Main St."
                            },
                            "streetAddress2": {
                              "type": "string",
                              "example": "null"
                            },
                            "countryCode": {
                              "type": "string",
                              "example": "USA",
                              "minLength": 3,
                              "maxLength": 3
                            },
                            "postalCode": {
                              "type": "string",
                              "example": 60007
                            },
                            "latitude": {
                              "type": "number",
                              "example": 41.8781
                            },
                            "longitude": {
                              "type": "number",
                              "example": -87.6298
                            }
                          },
                          "x-readme-ref-name": "Location"
                        },
                        "contactName": {
                          "type": "string",
                          "example": "Joseph Smith"
                        },
                        "contactPhone": {
                          "type": "string",
                          "example": 1234567890,
                          "minLength": 10,
                          "maxLength": 10
                        },
                        "stopNotes": {
                          "type": "string",
                          "example": "This is the pickup"
                        },
                        "referenceNumbers": {
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      },
                      "x-readme-ref-name": "LoadStop"
                    },
                    "minItems": 2,
                    "example": [
                      {
                        "type": 1,
                        "sequence": 1,
                        "earlyDateTime": "2024-09-24T11:00:00",
                        "lateDateTime": "2024-09-24T11:00:00",
                        "location": {
                          "locationName": "Shipper",
                          "city": "Chicago",
                          "state": "IL",
                          "streetAddress1": "123 Main St",
                          "streetAddress2": null,
                          "countryCode": "USA",
                          "postalCode": 60007,
                          "latitude": 41.8781,
                          "longitude": -87.6298
                        },
                        "contactName": "Joseph Smith",
                        "contactPhone": 1234567890,
                        "stopNotes": "Pickup"
                      },
                      {
                        "type": 2,
                        "sequence": 2,
                        "earlyDateTime": "2024-09-24T11:00:00",
                        "lateDateTime": "2024-09-24T11:00:00",
                        "location": {
                          "locationName": "Receiver",
                          "city": "Chicago",
                          "state": "IL",
                          "streetAddress1": "321 Main St",
                          "streetAddress2": null,
                          "countryCode": "USA",
                          "postalCode": 60007,
                          "latitude": 41.8781,
                          "longitude": -87.6298
                        },
                        "contactName": "Joseph Smith",
                        "contactPhone": 1234567890,
                        "stopNotes": "Drop Off"
                      }
                    ]
                  },
                  "note": {
                    "type": "string",
                    "example": "Important Load Info",
                    "description": "<span style=\"color:#eab676\">Any publically visible loads notes (0-4000 characters)</span>"
                  },
                  "freightClassId": { "type": "number", "example": 1 },
                  "loadNumber": {
                    "type": "string",
                    "example": "Load123-456",
                    "description": "<span style=\"color:#eab676\">Broker specific load identifer</span>"
                  },
                  "loadTrackingRequired": {
                    "type": "boolean",
                    "example": false,
                    "description": "<span style=\"color:#eab676\">Only used for BIN loads, should be false for standard loads</span>"
                  },
                  "rateAttributes": {
                    "description": "<span style=\"color:#eab676\">Posted All In Rate is for standard loads<br/>Tender All In Rate is for BIN loads</span>",
                    "type": "object",
                    "properties": {
                      "postedAllInRate": {
                        "type": "object",
                        "properties": {
                          "amount": { "type": "number", "example": 123.45 },
                          "currencyCode": {
                            "type": "string",
                            "example": "USD",
                            "minLength": 3,
                            "maxLength": 3
                          }
                        },
                        "x-readme-ref-name": "Rate"
                      },
                      "tenderAllInRate": {
                        "type": "object",
                        "properties": {
                          "amount": { "type": "number", "example": 123.45 },
                          "currencyCode": {
                            "type": "string",
                            "example": "USD",
                            "minLength": 3,
                            "maxLength": 3
                          }
                        },
                        "x-readme-ref-name": "Rate"
                      }
                    },
                    "x-readme-ref-name": "RateAttributes"
                  },
                  "customData": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "example": "My_Custom_Field"
                        },
                        "value": {
                          "type": "string",
                          "example": "My_Custom_Value"
                        }
                      }
                    }
                  },
                  "distance": {
                    "type": "number",
                    "example": 123,
                    "readOnly": true
                  },
                  "Dimensional": {
                    "type": "object",
                    "properties": {
                      "length": { "type": "number", "example": 53 },
                      "width": { "type": "number", "example": 8 },
                      "height": { "type": "number", "example": 10 },
                      "weight": { "type": "number", "example": 40000 },
                      "palletCount": { "type": "number", "example": 5 },
                      "pieceCount": { "type": "number", "example": 500 },
                      "cube": { "type": "number", "example": 4240 }
                    },
                    "x-readme-ref-name": "Dimensional"
                  },
                  "LoadActionAttributes": {
                    "type": "object",
                    "description": "<span style=\"color:#eab676\">4 - PostOnly is for standard loads<br/>1 - PostOnlineTender is for BIN loads</span>",
                    "properties": {
                      "loadActionId": { "type": "string", "example": 4 },
                      "loadActionOption": {
                        "type": "string",
                        "example": "PostOnly"
                      }
                    }
                  },
                  "LoadLabel": {
                    "type": "string",
                    "example": "Boxes of screws"
                  },
                  "tenderNotes": {
                    "type": "string",
                    "example": "Notes shown after booking",
                    "description": "<span style=\"color:#eab676\">These notes are not displayed until the load is booked</span>"
                  },
                  "loadReferenceNumbers": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "termsAndConditions": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "1234-56789-0123456"
                      },
                      "name": {
                        "type": "string",
                        "example": "My T&C",
                        "readOnly": true
                      }
                    }
                  },
                  "carrierTenderGroupIds": {
                    "type": "array",
                    "items": { "type": "number" },
                    "readOnly": true
                  },
                  "isPrivate": {
                    "type": "boolean",
                    "example": false,
                    "readOnly": true
                  }
                },
                "x-readme-ref-name": "Load"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": { "type": "string", "example": "application/json" }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "loadId": {
                      "type": "string",
                      "example": "a020197d-511c-4370-aa8d-2b6172fecc4c",
                      "readOnly": true
                    },
                    "legacyLoadId": {
                      "type": "string",
                      "example": "null",
                      "readOnly": true
                    },
                    "postasuserID": {
                      "type": "string",
                      "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96",
                      "description": "<span style=\"color:#eab676\">(Optional)<br/>Unique GUID of the user you wish to post the load as (If not the authenticated user)<br/><br/>Leave blank to omit this field</span>"
                    },
                    "postAsUser": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96"
                            },
                            "firstName": { "type": "string", "example": "Tom" },
                            "lastName": {
                              "type": "string",
                              "example": "Jerry"
                            },
                            "email": {
                              "type": "string",
                              "example": "tomjerry@truckstop.com"
                            },
                            "phone": {
                              "type": "string",
                              "example": "(123) 456-7890"
                            },
                            "userName": {
                              "type": "string",
                              "example": "TOMJERRY"
                            }
                          },
                          "x-readme-ref-name": "PostAsUser"
                        },
                        { "readOnly": true }
                      ]
                    },
                    "createdBy": {
                      "type": "string",
                      "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96",
                      "readOnly": true
                    },
                    "updatedBy": {
                      "type": "string",
                      "example": "null",
                      "readOnly": true
                    },
                    "createdDateTime": {
                      "type": "string",
                      "example": "2024-09-23T15:34:33",
                      "readOnly": true
                    },
                    "updatedDateTime": {
                      "type": "string",
                      "example": "2024-09-23T15:34:33",
                      "readOnly": true
                    },
                    "loadState": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "loadStateDescription": {
                              "type": "string",
                              "example": "Posted"
                            },
                            "loadStateId": { "type": "number", "example": 1 }
                          },
                          "x-readme-ref-name": "LoadState"
                        },
                        { "readOnly": true }
                      ]
                    },
                    "loadStateReason": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "loadStateReasonDescription": {
                              "type": "string",
                              "example": "Not Specified"
                            },
                            "loadStateReasonId": {
                              "type": "number",
                              "example": 0
                            }
                          },
                          "x-readme-ref-name": "LoadStateReason"
                        },
                        { "readOnly": true }
                      ]
                    },
                    "tenderId": { "type": "number", "readOnly": true },
                    "carrierName": {
                      "type": "string",
                      "example": "null",
                      "readOnly": true
                    },
                    "loadActivity": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "cc6f6efc-f111-4eaf-7a7d-08dcd8c75967"
                            },
                            "createdDate": {
                              "type": "string",
                              "example": "2024-09-23T15:34:33"
                            },
                            "loadState": {
                              "type": "object",
                              "properties": {
                                "loadStateDescription": {
                                  "type": "string",
                                  "example": "Posted"
                                },
                                "loadStateId": {
                                  "type": "number",
                                  "example": 1
                                }
                              },
                              "x-readme-ref-name": "LoadState"
                            },
                            "loadStateReason": {
                              "type": "object",
                              "properties": {
                                "loadStateReasonDescription": {
                                  "type": "string",
                                  "example": "Not Specified"
                                },
                                "loadStateReasonId": {
                                  "type": "number",
                                  "example": 0
                                }
                              },
                              "x-readme-ref-name": "LoadStateReason"
                            },
                            "comment": { "type": "string", "example": "null" }
                          },
                          "x-readme-ref-name": "LoadActivity"
                        },
                        { "readOnly": true }
                      ]
                    },
                    "equipmentAttributes": {
                      "type": "object",
                      "properties": {
                        "equipmentTypeId": { "type": "number", "example": 17 },
                        "equipmentOptions": {
                          "type": "array",
                          "items": { "type": "number", "example": 2 }
                        },
                        "transportationModeId": {
                          "type": "number",
                          "example": 2
                        },
                        "otherEquipmentNeeds": {
                          "type": "string",
                          "example": "Pallet Return"
                        }
                      },
                      "x-readme-ref-name": "EquipmentAttributes"
                    },
                    "commodityId": {
                      "type": "number",
                      "example": 1,
                      "description": "<span style=\"color:#eab676\">Integer ID of the commodity for this load <br/><br/><a href=\"commodities\" target=\"_blank\">Commodities List</a></span>"
                    },
                    "loadStops": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "8ee4e385-e266-436a-a176-08dcd8c7603b",
                            "readOnly": true
                          },
                          "type": { "type": "number", "example": 1 },
                          "sequence": { "type": "number", "example": 1 },
                          "earlyDateTime": {
                            "type": "string",
                            "example": "2024-09-24T11:34:32"
                          },
                          "lateDateTime": {
                            "type": "string",
                            "example": "2024-09-24T11:34:32"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "null",
                                "readOnly": true
                              },
                              "locationName": {
                                "type": "string",
                                "example": "Shipper Name"
                              },
                              "city": {
                                "type": "string",
                                "example": "Chicago"
                              },
                              "state": {
                                "type": "string",
                                "example": "IL",
                                "minLength": 2,
                                "maxLength": 2
                              },
                              "streetAddress1": {
                                "type": "string",
                                "example": "123 Main St."
                              },
                              "streetAddress2": {
                                "type": "string",
                                "example": "null"
                              },
                              "countryCode": {
                                "type": "string",
                                "example": "USA",
                                "minLength": 3,
                                "maxLength": 3
                              },
                              "postalCode": {
                                "type": "string",
                                "example": 60007
                              },
                              "latitude": {
                                "type": "number",
                                "example": 41.8781
                              },
                              "longitude": {
                                "type": "number",
                                "example": -87.6298
                              }
                            },
                            "x-readme-ref-name": "Location"
                          },
                          "contactName": {
                            "type": "string",
                            "example": "Joseph Smith"
                          },
                          "contactPhone": {
                            "type": "string",
                            "example": 1234567890,
                            "minLength": 10,
                            "maxLength": 10
                          },
                          "stopNotes": {
                            "type": "string",
                            "example": "This is the pickup"
                          },
                          "referenceNumbers": {
                            "type": "array",
                            "items": { "type": "string" }
                          }
                        },
                        "x-readme-ref-name": "LoadStop"
                      },
                      "minItems": 2,
                      "example": [
                        {
                          "type": 1,
                          "sequence": 1,
                          "earlyDateTime": "2024-09-24T11:00:00",
                          "lateDateTime": "2024-09-24T11:00:00",
                          "location": {
                            "locationName": "Shipper",
                            "city": "Chicago",
                            "state": "IL",
                            "streetAddress1": "123 Main St",
                            "streetAddress2": null,
                            "countryCode": "USA",
                            "postalCode": 60007,
                            "latitude": 41.8781,
                            "longitude": -87.6298
                          },
                          "contactName": "Joseph Smith",
                          "contactPhone": 1234567890,
                          "stopNotes": "Pickup"
                        },
                        {
                          "type": 2,
                          "sequence": 2,
                          "earlyDateTime": "2024-09-24T11:00:00",
                          "lateDateTime": "2024-09-24T11:00:00",
                          "location": {
                            "locationName": "Receiver",
                            "city": "Chicago",
                            "state": "IL",
                            "streetAddress1": "321 Main St",
                            "streetAddress2": null,
                            "countryCode": "USA",
                            "postalCode": 60007,
                            "latitude": 41.8781,
                            "longitude": -87.6298
                          },
                          "contactName": "Joseph Smith",
                          "contactPhone": 1234567890,
                          "stopNotes": "Drop Off"
                        }
                      ]
                    },
                    "note": {
                      "type": "string",
                      "example": "Important Load Info",
                      "description": "<span style=\"color:#eab676\">Any publically visible loads notes (0-4000 characters)</span>"
                    },
                    "freightClassId": { "type": "number", "example": 1 },
                    "loadNumber": {
                      "type": "string",
                      "example": "Load123-456",
                      "description": "<span style=\"color:#eab676\">Broker specific load identifer</span>"
                    },
                    "loadTrackingRequired": {
                      "type": "boolean",
                      "example": false,
                      "description": "<span style=\"color:#eab676\">Only used for BIN loads, should be false for standard loads</span>"
                    },
                    "rateAttributes": {
                      "description": "<span style=\"color:#eab676\">Posted All In Rate is for standard loads<br/>Tender All In Rate is for BIN loads</span>",
                      "type": "object",
                      "properties": {
                        "postedAllInRate": {
                          "type": "object",
                          "properties": {
                            "amount": { "type": "number", "example": 123.45 },
                            "currencyCode": {
                              "type": "string",
                              "example": "USD",
                              "minLength": 3,
                              "maxLength": 3
                            }
                          },
                          "x-readme-ref-name": "Rate"
                        },
                        "tenderAllInRate": {
                          "type": "object",
                          "properties": {
                            "amount": { "type": "number", "example": 123.45 },
                            "currencyCode": {
                              "type": "string",
                              "example": "USD",
                              "minLength": 3,
                              "maxLength": 3
                            }
                          },
                          "x-readme-ref-name": "Rate"
                        }
                      },
                      "x-readme-ref-name": "RateAttributes"
                    },
                    "customData": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "example": "My_Custom_Field"
                          },
                          "value": {
                            "type": "string",
                            "example": "My_Custom_Value"
                          }
                        }
                      }
                    },
                    "distance": {
                      "type": "number",
                      "example": 123,
                      "readOnly": true
                    },
                    "Dimensional": {
                      "type": "object",
                      "properties": {
                        "length": { "type": "number", "example": 53 },
                        "width": { "type": "number", "example": 8 },
                        "height": { "type": "number", "example": 10 },
                        "weight": { "type": "number", "example": 40000 },
                        "palletCount": { "type": "number", "example": 5 },
                        "pieceCount": { "type": "number", "example": 500 },
                        "cube": { "type": "number", "example": 4240 }
                      },
                      "x-readme-ref-name": "Dimensional"
                    },
                    "LoadActionAttributes": {
                      "type": "object",
                      "description": "<span style=\"color:#eab676\">4 - PostOnly is for standard loads<br/>1 - PostOnlineTender is for BIN loads</span>",
                      "properties": {
                        "loadActionId": { "type": "string", "example": 4 },
                        "loadActionOption": {
                          "type": "string",
                          "example": "PostOnly"
                        }
                      }
                    },
                    "LoadLabel": {
                      "type": "string",
                      "example": "Boxes of screws"
                    },
                    "tenderNotes": {
                      "type": "string",
                      "example": "Notes shown after booking",
                      "description": "<span style=\"color:#eab676\">These notes are not displayed until the load is booked</span>"
                    },
                    "loadReferenceNumbers": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "termsAndConditions": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "1234-56789-0123456"
                        },
                        "name": {
                          "type": "string",
                          "example": "My T&C",
                          "readOnly": true
                        }
                      }
                    },
                    "carrierTenderGroupIds": {
                      "type": "array",
                      "items": { "type": "number" },
                      "readOnly": true
                    },
                    "isPrivate": {
                      "type": "boolean",
                      "example": false,
                      "readOnly": true
                    }
                  },
                  "x-readme-ref-name": "Load"
                }
              }
            }
          }
        }
      }
    },
    "/loadmanagement/v2/load/{LoadGuid}": {
      "put": {
        "tags": ["Load Operations"],
        "summary": "Update a Load",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "description": "JSON payload containing the load details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "loadId": {
                    "type": "string",
                    "example": "a020197d-511c-4370-aa8d-2b6172fecc4c",
                    "readOnly": true
                  },
                  "legacyLoadId": {
                    "type": "string",
                    "example": "null",
                    "readOnly": true
                  },
                  "postasuserID": {
                    "type": "string",
                    "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96",
                    "description": "<span style=\"color:#eab676\">(Optional)<br/>Unique GUID of the user you wish to post the load as (If not the authenticated user)<br/><br/>Leave blank to omit this field</span>"
                  },
                  "postAsUser": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96"
                          },
                          "firstName": { "type": "string", "example": "Tom" },
                          "lastName": { "type": "string", "example": "Jerry" },
                          "email": {
                            "type": "string",
                            "example": "tomjerry@truckstop.com"
                          },
                          "phone": {
                            "type": "string",
                            "example": "(123) 456-7890"
                          },
                          "userName": {
                            "type": "string",
                            "example": "TOMJERRY"
                          }
                        },
                        "x-readme-ref-name": "PostAsUser"
                      },
                      { "readOnly": true }
                    ]
                  },
                  "createdBy": {
                    "type": "string",
                    "example": "df7dbc1a-a21d-e911-a9ec-a3b8a698ca96",
                    "readOnly": true
                  },
                  "updatedBy": {
                    "type": "string",
                    "example": "null",
                    "readOnly": true
                  },
                  "createdDateTime": {
                    "type": "string",
                    "example": "2024-09-23T15:34:33",
                    "readOnly": true
                  },
                  "updatedDateTime": {
                    "type": "string",
                    "example": "2024-09-23T15:34:33",
                    "readOnly": true
                  },
                  "loadState": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "loadStateDescription": {
                            "type": "string",
                            "example": "Posted"
                          },
                          "loadStateId": { "type": "number", "example": 1 }
                        },
                        "x-readme-ref-name": "LoadState"
                      },
                      { "readOnly": true }
                    ]
                  },
                  "loadStateReason": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "loadStateReasonDescription": {
                            "type": "string",
                            "example": "Not Specified"
                          },
                          "loadStateReasonId": {
                            "type": "number",
                            "example": 0
                          }
                        },
                        "x-readme-ref-name": "LoadStateReason"
                      },
                      { "readOnly": true }
                    ]
                  },
                  "tenderId": { "type": "number", "readOnly": true },
                  "carrierName": {
                    "type": "string",
                    "example": "null",
                    "readOnly": true
                  },
                  "loadActivity": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "cc6f6efc-f111-4eaf-7a7d-08dcd8c75967"
                          },
                          "createdDate": {
                            "type": "string",
                            "example": "2024-09-23T15:34:33"
                          },
                          "loadState": {
                            "type": "object",
                            "properties": {
                              "loadStateDescription": {
                                "type": "string",
                                "example": "Posted"
                              },
                              "loadStateId": { "type": "number", "example": 1 }
                            },
                            "x-readme-ref-name": "LoadState"
                          },
                          "loadStateReason": {
                            "type": "object",
                            "properties": {
                              "loadStateReasonDescription": {
                                "type": "string",
                                "example": "Not Specified"
                              },
                              "loadStateReasonId": {
                                "type": "number",
                                "example": 0
                              }
                            },
                            "x-readme-ref-name": "LoadStateReason"
                          },
                          "comment": { "type": "string", "example": "null" }
                        },
                        "x-readme-ref-name": "LoadActivity"
                      },
                      { "readOnly": true }
                    ]
                  },
                  "equipmentAttributes": {
                    "type": "object",
                    "properties": {
                      "equipmentTypeId": { "type": "number", "example": 17 },
                      "equipmentOptions": {
                        "type": "array",
                        "items": { "type": "number", "example": 2 }
                      },
                      "transportationModeId": {
                        "type": "number",
                        "example": 2
                      },
                      "otherEquipmentNeeds": {
                        "type": "string",
                        "example": "Pallet Return"
                      }
                    },
                    "x-readme-ref-name": "EquipmentAttributes"
                  },
                  "commodityId": {
                    "type": "number",
                    "example": 1,
                    "description": "<span style=\"color:#eab676\">Integer ID of the commodity for this load <br/><br/><a href=\"commodities\" target=\"_blank\">Commodities List</a></span>"
                  },
                  "loadStops": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "8ee4e385-e266-436a-a176-08dcd8c7603b",
                          "readOnly": true
                        },
                        "type": { "type": "number", "example": 1 },
                        "sequence": { "type": "number", "example": 1 },
                        "earlyDateTime": {
                          "type": "string",
                          "example": "2024-09-24T11:34:32"
                        },
                        "lateDateTime": {
                          "type": "string",
                          "example": "2024-09-24T11:34:32"
                        },
                        "location": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "null",
                              "readOnly": true
                            },
                            "locationName": {
                              "type": "string",
                              "example": "Shipper Name"
                            },
                            "city": { "type": "string", "example": "Chicago" },
                            "state": {
                              "type": "string",
                              "example": "IL",
                              "minLength": 2,
                              "maxLength": 2
                            },
                            "streetAddress1": {
                              "type": "string",
                              "example": "123 Main St."
                            },
                            "streetAddress2": {
                              "type": "string",
                              "example": "null"
                            },
                            "countryCode": {
                              "type": "string",
                              "example": "USA",
                              "minLength": 3,
                              "maxLength": 3
                            },
                            "postalCode": {
                              "type": "string",
                              "example": 60007
                            },
                            "latitude": {
                              "type": "number",
                              "example": 41.8781
                            },
                            "longitude": {
                              "type": "number",
                              "example": -87.6298
                            }
                          },
                          "x-readme-ref-name": "Location"
                        },
                        "contactName": {
                          "type": "string",
                          "example": "Joseph Smith"
                        },
                        "contactPhone": {
                          "type": "string",
                          "example": 1234567890,
                          "minLength": 10,
                          "maxLength": 10
                        },
                        "stopNotes": {
                          "type": "string",
                          "example": "This is the pickup"
                        },
                        "referenceNumbers": {
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      },
                      "x-readme-ref-name": "LoadStop"
                    },
                    "minItems": 2,
                    "example": [
                      {
                        "type": 1,
                        "sequence": 1,
                        "earlyDateTime": "2024-09-24T11:00:00",
                        "lateDateTime": "2024-09-24T11:00:00",
                        "location": {
                          "locationName": "Shipper",
                          "city": "Chicago",
                          "state": "IL",
                          "streetAddress1": "123 Main St",
                          "streetAddress2": null,
                          "countryCode": "USA",
                          "postalCode": 60007,
                          "latitude": 41.8781,
                          "longitude": -87.6298
                        },
                        "contactName": "Joseph Smith",
                        "contactPhone": 1234567890,
                        "stopNotes": "Pickup"
                      },
                      {
                        "type": 2,
                        "sequence": 2,
                        "earlyDateTime": "2024-09-24T11:00:00",
                        "lateDateTime": "2024-09-24T11:00:00",
                        "location": {
                          "locationName": "Receiver",
                          "city": "Chicago",
                          "state": "IL",
                          "streetAddress1": "321 Main St",
                          "streetAddress2": null,
                          "countryCode": "USA",
                          "postalCode": 60007,
                          "latitude": 41.8781,
                          "longitude": -87.6298
                        },
                        "contactName": "Joseph Smith",
                        "contactPhone": 1234567890,
                        "stopNotes": "Drop Off"
                      }
                    ]
                  },
                  "note": {
                    "type": "string",
                    "example": "Important Load Info",
                    "description": "<span style=\"color:#eab676\">Any publically visible loads notes (0-4000 characters)</span>"
                  },
                  "freightClassId": { "type": "number", "example": 1 },
                  "loadNumber": {
                    "type": "string",
                    "example": "Load123-456",
                    "description": "<span style=\"color:#eab676\">Broker specific load identifer</span>"
                  },
                  "loadTrackingRequired": {
                    "type": "boolean",
                    "example": false,
                    "description": "<span style=\"color:#eab676\">Only used for BIN loads, should be false for standard loads</span>"
                  },
                  "rateAttributes": {
                    "description": "<span style=\"color:#eab676\">Posted All In Rate is for standard loads<br/>Tender All In Rate is for BIN loads</span>",
                    "type": "object",
                    "properties": {
                      "postedAllInRate": {
                        "type": "object",
                        "properties": {
                          "amount": { "type": "number", "example": 123.45 },
                          "currencyCode": {
                            "type": "string",
                            "example": "USD",
                            "minLength": 3,
                            "maxLength": 3
                          }
                        },
                        "x-readme-ref-name": "Rate"
                      },
                      "tenderAllInRate": {
                        "type": "object",
                        "properties": {
                          "amount": { "type": "number", "example": 123.45 },
                          "currencyCode": {
                            "type": "string",
                            "example": "USD",
                            "minLength": 3,
                            "maxLength": 3
                          }
                        },
                        "x-readme-ref-name": "Rate"
                      }
                    },
                    "x-readme-ref-name": "RateAttributes"
                  },
                  "customData": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "example": "My_Custom_Field"
                        },
                        "value": {
                          "type": "string",
                          "example": "My_Custom_Value"
                        }
                      }
                    }
                  },
                  "distance": {
                    "type": "number",
                    "example": 123,
                    "readOnly": true
                  },
                  "Dimensional": {
                    "type": "object",
                    "properties": {
                      "length": { "type": "number", "example": 53 },
                      "width": { "type": "number", "example": 8 },
                      "height": { "type": "number", "example": 10 },
                      "weight": { "type": "number", "example": 40000 },
                      "palletCount": { "type": "number", "example": 5 },
                      "pieceCount": { "type": "number", "example": 500 },
                      "cube": { "type": "number", "example": 4240 }
                    },
                    "x-readme-ref-name": "Dimensional"
                  },
                  "LoadActionAttributes": {
                    "type": "object",
                    "description": "<span style=\"color:#eab676\">4 - PostOnly is for standard loads<br/>1 - PostOnlineTender is for BIN loads</span>",
                    "properties": {
                      "loadActionId": { "type": "string", "example": 4 },
                      "loadActionOption": {
                        "type": "string",
                        "example": "PostOnly"
                      }
                    }
                  },
                  "LoadLabel": {
                    "type": "string",
                    "example": "Boxes of screws"
                  },
                  "tenderNotes": {
                    "type": "string",
[...]
