{"openapi":"3.0.1","info":{"title":"SERVICE PROVIDERS","termsOfService":"urn:tos","license":{"name":"Apache 2.0","url":"http://springdoc.org"},"version":"unversioned","description":""},"servers":[{"url":"https://api-sb.meld.io","description":"Meld API sandbox"},{"url":"https://api.meld.io","description":"Meld API production"}],"paths":{"/service-providers/properties":{"get":{"tags":["Service Provider"],"summary":"Get Service Providers properties","description":"Return properties for these specific service providers. Filter the results returned using the query parameters.<p>Reference <a href=\"https://docs.meld.io/docs/crypto-supported-service-providers-assets\">Crypto supported service providers</a>, <a href=\"https://docs.meld.io/docs/fiat-supported-service-providers\">Fiat supported service providers</a>, and <a href=\"https://docs.meld.io/docs/bank-linking-supported-service-providers\">Bank-Linking supported service providers</a> for a full list.","operationId":"service-providers-properties-search","parameters":[{"name":"serviceProviders","in":"query","description":"A comma separated list of service providers.","required":false,"schema":{"type":"string"}},{"name":"categories","in":"query","description":"A comma separated list of service provider categories","required":false,"schema":{"type":"string","enum":["BANK_LINKING","CRYPTO_ONRAMP","CRYPTO_OFFRAMP","FIAT_PAYMENTS"]}},{"name":"accountServiceProviders","in":"query","description":"Filter by service providers which are configured for the account.","required":false,"schema":{"type":"boolean"}},{"name":"countries","in":"query","description":"A comma separated list of 2-char alpha code for supported countries.","required":false,"schema":{"type":"string"}},{"name":"fiatCurrencies","in":"query","description":"A comma separated list of alpha code for supported fiat currencies.","required":false,"schema":{"type":"string"}},{"name":"cryptoCurrencies","in":"query","description":"A comma separated list of alpha code for supported crypto currencies.","required":false,"schema":{"type":"string"}},{"name":"paymentMethodTypes","in":"query","description":"<p>A comma separated list of payment method types.</p><p>For valid return values see: <a href=\"https://docs.meld.io/docs/supported-payment-methods\">Supported Payment Methods</a></p>","required":false,"schema":{"type":"string"}},{"name":"statuses","in":"query","description":"A comma separated list of service provider statuses.","required":false,"schema":{"type":"string","enum":["LIVE","RECENTLY_ADDED","BUILDING","TO_BE_BUILT"]}},{"name":"chains","in":"query","description":"A comma separated list of service provider crypto currency chains.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"A List of Service Provider Properties","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ServiceProviderProperties20221110"}}}}},"400":{"description":"Bad Request : check request values and format"},"401":{"description":"Invalid credentials"},"403":{"description":"Unauthenticated or authenticated with insufficient access"},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/service-providers/payment-methods":{"get":{"tags":["Service Provider"],"summary":"Get Payment Methods Available by Country","description":"NOTE: Currently, this API is only for crypto supported service providers. The response will contain all payment methods that can be used to purchase cryptocurrencies in the specified country. <p>Reference <a href=\"https://docs.meld.io/docs/crypto-supported-service-providers-assets\">Crypto supported service providers</a> for a full list.","operationId":"service-providers-payment-methods-search","parameters":[{"name":"country","in":"query","description":"The 2-char alpha code for the country. If no value is provided, payment methods for all countries will be returned","required":false,"schema":{"type":"string"}},{"name":"serviceProviders","in":"query","description":"A comma separated List of Service Providers to filter to. If no value is provided, payment methods for all service providers will be returned","required":false,"schema":{"type":"string"}},{"name":"accountServiceProviders","in":"query","description":"Set this param to true to only return service providers enabled for your account.","required":false,"schema":{"type":"boolean"}},{"name":"statuses","in":"query","description":"A comma separated List of service provider statuses. Valid Values are: LIVE,RECENTLY_ADDED,BUILDING,TO_BE_BUILT","required":false,"schema":{"type":"string","default":"LIVE,RECENTLY_ADDED"}}],"responses":{"200":{"description":"Payment Methods Available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountryPaymentMethods20220725"}}}},"400":{"description":"Bad Request : check request values and format"},"401":{"description":"Invalid credentials"},"403":{"description":"Unauthenticated or authenticated with insufficient access"},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/service-providers/details":{"get":{"tags":["Service Provider"],"summary":"Get Service Providers details","description":"Return only details for these specific service providers. Filter the results returned using the query parameters.<p>Reference <a href=\"https://docs.meld.io/docs/crypto-supported-service-providers-assets\">Crypto supported service providers</a>, <a href=\"https://docs.meld.io/docs/fiat-supported-service-providers\">Fiat supported service providers</a>, and <a href=\"https://docs.meld.io/docs/bank-linking-supported-service-providers\">Bank-Linking supported service providers</a> for a full list.","operationId":"service-providers-details-search","parameters":[{"name":"serviceProviders","in":"query","description":"A comma separated List of Service Providers.","required":false,"schema":{"type":"string"}},{"name":"categories","in":"query","description":"A comma separated List of categories <BANK_LINKING, CRYPTO_OFFRAMP,  CRYPTO_ONRAMP, FIAT_PAYMENTS>","required":false,"schema":{"type":"string"}},{"name":"statuses","in":"query","description":"A comma separated List of service provider statuses. Valid Values are: LIVE,RECENTLY_ADDED,BUILDING,TO_BE_BUILT","required":false,"schema":{"type":"string","default":"LIVE,RECENTLY_ADDED"}}],"responses":{"200":{"description":"Service Provider Details","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ServiceProviderDetail"}}}}},"400":{"description":"Bad Request : check request values and format"},"401":{"description":"Invalid credentials"},"403":{"description":"Unauthenticated or authenticated with insufficient access"},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ApiKeyAuth":[]}]}}},"components":{"schemas":{"ListServiceProviderPreference":{"required":["algorithm","serviceProviders"],"type":"object","description":"Preference when algorithm is: EQUAL_DISTRIBUTION,ORDERED","allOf":[{"$ref":"#/components/schemas/ServiceProviderPreference"},{"type":"object","properties":{"serviceProviders":{"type":"array","description":"List of service providers","items":{"type":"string","description":"List of service providers","enum":["APPLEPAY","AUTHORIZENET","BANXA","BRAINTREE","BTCDIRECT","CASHAPP","CHECKOUT","CIRCLE","COINBASE","FINICITY","MERCURYO","MOONPAY","MX","NMI","ONRAMPMONEY","PAYPAL","PLAID","RAMP","SARDINE","SHIFT4","SHOPIFY","SIMPLEX","SQUARE","STRIPE","TANGOCARD","TELLER","TRANSAK","TREMENDOUS","WYRE","XANPOOL","YODLEE"]}}}}]},"MultipleValueRoutingCondition":{"required":["operator","values","variable"],"type":"object","description":"Condition when operator is: IN,NOT_IN","allOf":[{"$ref":"#/components/schemas/RoutingCondition"},{"type":"object","properties":{"values":{"type":"array","description":"Values","items":{"type":"string","description":"Values"}}}}]},"OptionalListServiceProviderPreference":{"required":["algorithm"],"type":"object","description":"Preference when algorithm is: HEALTH","allOf":[{"$ref":"#/components/schemas/ServiceProviderPreference"},{"type":"object","properties":{"serviceProviders":{"type":"array","description":"List of service providers. If not defined or empty, all applicable service providers are used","items":{"type":"string","description":"List of service providers. If not defined or empty, all applicable service providers are used","enum":["APPLEPAY","AUTHORIZENET","BANXA","BRAINTREE","BTCDIRECT","CASHAPP","CHECKOUT","CIRCLE","COINBASE","FINICITY","MERCURYO","MOONPAY","MX","NMI","ONRAMPMONEY","PAYPAL","PLAID","RAMP","SARDINE","SHIFT4","SHOPIFY","SIMPLEX","SQUARE","STRIPE","TANGOCARD","TELLER","TRANSAK","TREMENDOUS","WYRE","XANPOOL","YODLEE"]}}}}]},"RoutingCondition":{"required":["operator","variable"],"type":"object","properties":{"operator":{"type":"string","description":"Operator","enum":["IN","NOT_IN","EQUALS","NOT_EQUALS","GREATER_THAN","GREATER_THAN_EQUALS","LESS_THAN","LESS_THAN_EQUALS"]},"variable":{"type":"string","description":"Variable","enum":["COUNTRY_CODE","INSTITUTION_ID","PAYMENT_METHOD_TYPE","PRODUCTS","REGIONS","SOURCE_AMOUNT","SOURCE_AMOUNT_CONVERTED","SERVICE_PROVIDERS","SERVICE_PROVIDER_PRODUCT_HEALTH"]}},"description":"This is polymorphic based on the operator:<ul><li>EQUALS - SingleValueRoutingCondition</li><li>GREATER_THAN - SingleValueRoutingCondition</li><li>GREATER_THAN_EQUALS - SingleValueRoutingCondition</li><li>IN - MultipleValueRoutingCondition</li><li>LESS_THAN - SingleValueRoutingCondition</li><li>LESS_THAN_EQUALS - SingleValueRoutingCondition</li><li>NOT_EQUALS - SingleValueRoutingCondition</li><li>NOT_IN - MultipleValueRoutingCondition</li></ul><p>Variable value formats:<ul><li>SOURCE_AMOUNT - &lt;3-character currency code&gt;&lt;space&gt;&lt;numeric amount&gt;<br>examples: USD 100, CAD 123.45</li><br><li>INSTITUTION_ID - &lt;id&gt;<br>examples: Ntj3AwgdridJc2rtfeheku, 29KL1L2iYUV3zUCoSHhwvr</li><br><li>COUNTRY_CODE - &lt;2-character country code&gt;<br>examples: US, CA</li><br><li>PAYMENT_METHOD_TYPE - &lt;payment method&gt;<br>examples: VISA, APPLE_PAY</li></ul>","discriminator":{"propertyName":"operator"}},"RoutingDefinition":{"required":["defaultPreference"],"type":"object","properties":{"defaultPreference":{"oneOf":[{"$ref":"#/components/schemas/ListServiceProviderPreference"},{"$ref":"#/components/schemas/OptionalListServiceProviderPreference"},{"$ref":"#/components/schemas/SingleServiceProviderPreference"},{"$ref":"#/components/schemas/WeightedServiceProviderPreference"}]},"rules":{"type":"array","description":"Ordered list of rules. The first matching rule will route using its service provider preference","items":{"$ref":"#/components/schemas/Rule"}}}},"RoutingProfileCreateRequest":{"required":["action","definition"],"type":"object","properties":{"action":{"type":"string","enum":["BANK_LINKING_CONNECT","CRYPTO_ONRAMP","PAYMENT_CREATE_CHARGE"]},"actionDefault":{"type":"boolean"},"definition":{"$ref":"#/components/schemas/RoutingDefinition"},"name":{"type":"string"}}},"Rule":{"required":["preference"],"type":"object","properties":{"conditions":{"type":"array","description":"If all the conditions are true, this rule is true","items":{"oneOf":[{"$ref":"#/components/schemas/MultipleValueRoutingCondition"},{"$ref":"#/components/schemas/SingleValueRoutingCondition"}]}},"label":{"type":"string","description":"A label summarizing what this rule does"},"preference":{"oneOf":[{"$ref":"#/components/schemas/ListServiceProviderPreference"},{"$ref":"#/components/schemas/OptionalListServiceProviderPreference"},{"$ref":"#/components/schemas/SingleServiceProviderPreference"},{"$ref":"#/components/schemas/WeightedServiceProviderPreference"}]}},"description":"Ordered list of rules. The first matching rule will route using its service provider preference"},"ServiceProviderPreference":{"required":["algorithm"],"type":"object","properties":{"algorithm":{"type":"string","description":"Algorithm to select a preferred service provider","enum":["SINGLE","ORDERED","EQUAL_DISTRIBUTION","WEIGHTED_DISTRIBUTION","HEALTH"]}},"description":"This is polymorphic based on the algorithm:<ul><li>EQUAL_DISTRIBUTION - ListServiceProviderPreference</li><li>ORDERED - ListServiceProviderPreference</li><li>SINGLE - SingleServiceProviderPreference</li><li>WEIGHTED_DISTRIBUTION - WeightedServiceProviderPreference</li><li>HEALTH - OptionalListServiceProviderPreference</li></ul>","discriminator":{"propertyName":"algorithm"}},"SingleServiceProviderPreference":{"required":["algorithm","serviceProvider"],"type":"object","description":"Preference when algorithm is: SINGLE","allOf":[{"$ref":"#/components/schemas/ServiceProviderPreference"},{"type":"object","properties":{"serviceProvider":{"type":"string","description":"Service provider","enum":["APPLEPAY","AUTHORIZENET","BANXA","BRAINTREE","BTCDIRECT","CASHAPP","CHECKOUT","CIRCLE","COINBASE","FINICITY","MERCURYO","MOONPAY","MX","NMI","ONRAMPMONEY","PAYPAL","PLAID","RAMP","SARDINE","SHIFT4","SHOPIFY","SIMPLEX","SQUARE","STRIPE","TANGOCARD","TELLER","TRANSAK","TREMENDOUS","WYRE","XANPOOL","YODLEE"]}}}]},"SingleValueRoutingCondition":{"required":["operator","value","variable"],"type":"object","description":"Condition when operator is: EQUALS,GREATER_THAN,GREATER_THAN_EQUALS,LESS_THAN,LESS_THAN_EQUALS,NOT_EQUALS","allOf":[{"$ref":"#/components/schemas/RoutingCondition"},{"type":"object","properties":{"value":{"type":"string","description":"Value"}}}]},"WeightedServiceProviderPreference":{"required":["algorithm","serviceProviders"],"type":"object","description":"Preference when algorithm is: WEIGHTED_DISTRIBUTION","allOf":[{"$ref":"#/components/schemas/ServiceProviderPreference"},{"type":"object","properties":{"serviceProviders":{"type":"object","additionalProperties":{"type":"integer","description":"Map of service providers to weights","format":"int32"},"description":"Map of service providers to weights"}}}]},"RoutingProfile":{"type":"object","properties":{"accountId":{"type":"string","description":"Account id"},"action":{"type":"string","description":"Action this profile can route","enum":["BANK_LINKING_CONNECT","PAYMENT_CREATE_CHARGE"]},"actionDefault":{"type":"boolean","description":"Whether or not this is the default profile for the action on this account"},"definition":{"$ref":"#/components/schemas/RoutingDefinition"},"id":{"type":"string","description":"Unique identifier for this profile"},"name":{"type":"string","description":"Name to describe this profile"}}},"RoutingRequest":{"required":["action","signals"],"type":"object","properties":{"action":{"type":"string","description":"The action that needs routing.","enum":["BANK_LINKING_CONNECT","CRYPTO_ONRAMP","PAYMENT_CREATE_CHARGE"]},"signals":{"$ref":"#/components/schemas/Signals"}}},"Signals":{"type":"object","properties":{"countryCode":{"type":"string","description":"Country code"},"exchangeRates":{"type":"object","additionalProperties":{"type":"number","description":"Exchange rates from currencyCode"},"description":"Exchange rates from currencyCode"},"institutionId":{"type":"string","description":"Institution id"},"paymentMethodType":{"type":"string","description":"Payment method type"},"products":{"type":"array","description":"Products","items":{"type":"string","description":"Products"}},"profileId":{"type":"string","description":"Profile id"},"regions":{"type":"array","description":"Regions","items":{"type":"string","description":"Regions"}},"serviceProviderProductHealth":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"string","description":"Service provider product health"},"description":"Service provider product health"},"description":"Service provider product health"},"serviceProviders":{"type":"array","description":"Service providers","items":{"type":"string","description":"Service providers","enum":["BANXA","BTCDIRECT","MOONPAY","ONRAMPMONEY","RAMP","SIMPLEX","TRANSAK","WYRE","XANPOOL"]}},"sourceAmount":{"type":"number","description":"Source amount"},"sourceCurrencyCode":{"type":"string","description":"Source currency code"}},"description":"Signals available at time of request to determine availability and score of routes."},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string"},"displayMessage":{"type":"string"},"errors":{"type":"array","items":{"type":"string"}},"message":{"type":"string"},"requestId":{"type":"string"},"serviceProviderDetails":{"type":"object","additionalProperties":{"type":"object"}},"timestamp":{"type":"string","format":"date-time"}}},"Route":{"type":"object","properties":{"Service provider access profile":{"type":"string"},"score":{"type":"number","description":"Score used for ranking"},"serviceProvider":{"type":"string","description":"Service provider","enum":["BANXA","BTCDIRECT","MOONPAY","ONRAMPMONEY","RAMP","SIMPLEX","TRANSAK","WYRE","XANPOOL"]},"signals":{"$ref":"#/components/schemas/Signals"}}},"RoutingProfileUpdateRequest":{"type":"object","properties":{"actionDefault":{"type":"boolean"},"definition":{"$ref":"#/components/schemas/RoutingDefinition"},"name":{"type":"string"}}},"ServiceProviderQuoteLimit":{"type":"object","properties":{"currencyCode":{"type":"string"},"maxSourceAmount":{"type":"number"},"minSourceAmount":{"type":"number"},"serviceProvider":{"type":"string","enum":["APPLEPAY","AUTHORIZENET","BANXA","BRAINTREE","BTCDIRECT","CASHAPP","CHECKOUT","CIRCLE","COINBASE","FINICITY","MERCURYO","MOONPAY","MX","NMI","ONRAMPMONEY","PAYPAL","PLAID","RAMP","SARDINE","SHIFT4","SHOPIFY","SIMPLEX","SQUARE","STRIPE","TANGOCARD","TELLER","TRANSAK","TREMENDOUS","WYRE","XANPOOL","YODLEE"]}}},"CryptoCurrency":{"type":"object","properties":{"cryptoCurrencyChain":{"type":"string","description":"The Chain this Crypto Currency is on."},"cryptoCurrencyCode":{"type":"string","description":"<p>The Crypto Currency Code</p><p>For Valid Return Values see: <a href=\"https://docs.meld.io/docs/supported-crypto-currencies\">Supported Crypto Currencies</a></p>"},"displayName":{"type":"string","description":"The Display Name for the Crypto Currency."},"symbol":{"type":"string","description":"The url to the Crypto Currency's symbol image"}},"description":"Service provider properties Crypto currency details"},"PaymentMethod":{"type":"object","properties":{"displayName":{"type":"string","description":"The Display Name for the Payment Subtype."},"logos":{"$ref":"#/components/schemas/Logos"},"subtype":{"type":"string","description":"<p>The Payment Subtype.</p><p>For Valid Return Values see: <a href=\"https://docs.meld.io/docs/supported-payment-methods\">Supported Payment Methods</a></p>"},"type":{"type":"string","description":"<p>The Payment Type.</p><p>For Valid Return Values see: <a href=\"https://docs.meld.io/docs/supported-payment-methods\">Supported Payment Methods</a></p>","enum":["ACH","BANCONTACT","CARD","IDEAL","MOBILE_WALLET","SEPA","BANK_TRANSFER","AUSPOST","CLEARJUNCTION","DUITNOW","EPS","FPS","GIROPAY","GOJEK","INSTAPAY","INTERAC","PAYID","PAYNOW","PIX","PROMPTPAY","SEPA_INSTANT","SOFORT","UK_FAST_PAYMENT","VIETTEL_PAY","AMERICAN_EXPRESS","APPLE_PAY","DISCOVER","GOOGLE_PAY","MASTERCARD","SAMSUNG_PAY","VISA","HK_BANK_TRANSFER","IN_BANK_TRANSFER","NZ_BANK_TRANSFER","AU_BANK_TRANSFER","DCINTERAC","BLUEONLINE","POLI","MONOOVAPAYID","TR_BANK_TRANSFER","MAESTRO","UK_FASTER_PAYMENTS","PAY_NOW","VIETTELPAY","ID_BANK_TRANSFER","JCB","DINERS_CLUB","DLOCAL","ASTROPAY","SCB_EASY_PAY","SCB_MOBILE","BANGKOK_BANK_MOBILE","BUALUANG_IPAY","LOCAL"]}},"description":"Service provider properties payment method details"},"ServiceProviderCountryProperties":{"type":"object","properties":{"countries":{"type":"array","description":"The Countries which are Supported by this Service Provider.","items":{"type":"string","description":"The Countries which are Supported by this Service Provider."}},"cryptoCurrencies":{"type":"array","description":"The Crypto Currencies which are Supported by this Service Provider.","items":{"type":"string","description":"The Crypto Currencies which are Supported by this Service Provider."}},"cryptoCurrencyInformation":{"type":"array","description":"Information about the Crypto Currencies in the cryptoCurrencies Set.","items":{"$ref":"#/components/schemas/CryptoCurrency"}},"fiatCurrencies":{"type":"array","description":"The Fiat Currencies which are Supported by this Service Provider.","items":{"type":"string","description":"The Fiat Currencies which are Supported by this Service Provider."}},"paymentMethods":{"type":"array","description":"The Payment Methods which are Supported by this Service Provider.","items":{"$ref":"#/components/schemas/PaymentMethod"}},"serviceProvider":{"type":"string","description":"The Service Provider these properties are defined for.","enum":["BANXA","BTCDIRECT","MOONPAY","ONRAMPMONEY","RAMP","SIMPLEX","TRANSAK","WYRE","XANPOOL"]}}},"ServiceProviderCryptoCurrencyDetail":{"type":"object","properties":{"cryptoChain":{"type":"string"},"cryptoCurrency":{"type":"string"},"displayName":{"type":"string"},"meldCryptoCurrency":{"type":"string"},"serviceProvider":{"type":"string","enum":["APPLEPAY","AUTHORIZENET","BANXA","BRAINTREE","BTCDIRECT","CASHAPP","CHECKOUT","CIRCLE","COINBASE","FINICITY","MERCURYO","MOONPAY","MX","NMI","ONRAMPMONEY","PAYPAL","PLAID","RAMP","SARDINE","SHIFT4","SHOPIFY","SIMPLEX","SQUARE","STRIPE","TANGOCARD","TELLER","TRANSAK","TREMENDOUS","WYRE","XANPOOL","YODLEE"]},"serviceProviderCryptoCurrency":{"type":"string"}}},"CountryPaymentMethod":{"type":"object","properties":{"displayName":{"type":"string","description":"The Display Name for the Payment Subtype."},"subtype":{"type":"string","description":"<p>The Payment Subtype.</p><p>For Valid Return Values see: <a href=\"https://docs.meld.io/docs/supported-payment-methods\">Supported Payment Methods</a></p>"},"type":{"type":"string","description":"<p>The Payment Type.</p><p>For Valid Return Values see: <a href=\"https://docs.meld.io/docs/supported-payment-methods\">Supported Payment Methods</a></p>","enum":["ACH","BANK_TRANSFER","CARD","LOCAL","MOBILE_WALLET","SEPA"]}}},"ServiceProviderPaymentMethod":{"type":"object","properties":{"paymentMethod":{"type":"string","description":"The Meld-Supported Payment Method for this Service Provider."},"serviceProvider":{"type":"string","description":"The Service Provider this Payment Method is defined for.","enum":["APPLEPAY","AUTHORIZENET","BANXA","BRAINTREE","BTCDIRECT","CASHAPP","CHECKOUT","CIRCLE","COINBASE","FINICITY","MERCURYO","MOONPAY","MX","NMI","ONRAMPMONEY","PAYPAL","PLAID","RAMP","SARDINE","SHIFT4","SHOPIFY","SIMPLEX","SQUARE","STRIPE","TANGOCARD","TELLER","TRANSAK","TREMENDOUS","WYRE","XANPOOL","YODLEE"]},"serviceProviderType":{"type":"string","description":"The Service Provider API Payment Method Reference for this Service Provider."}}},"PaymentMethod20220815":{"type":"object","properties":{"displayName":{"type":"string","description":"The display name."},"id":{"type":"string","description":"The identifier."},"paymentType":{"type":"string","description":"The payment type.","enum":["ACH","BANK_TRANSFER","CARD","LOCAL","MOBILE_WALLET","SEPA"]}}},"AuthSettingsField":{"type":"object","properties":{"fieldName":{"type":"string","description":"The Name of this Auth Setting Field."},"fieldType":{"type":"string","description":"The Data Type of this Auth Setting Field."},"required":{"type":"boolean","description":"True if this Auth Setting is Required when configuring this Service Provider in the Dashboard, otherwise False."}},"description":"ServiceProviderDetailAuthSettingsField"},"ConfigSettingsField":{"type":"object","properties":{"fieldName":{"type":"string","description":"The Name of this Config Setting Field."},"fieldType":{"type":"string","description":"The Data Type of this Config Setting Field."},"required":{"type":"boolean","description":"True if this Config Setting is Required when configuring this Service Provider in the Dashboard, otherwise False."}},"description":"ServiceProviderDetailConfigSettingsField"},"Logos":{"type":"object","properties":{"darkLogo":{"type":"string","description":"The Dark Logo for the Payment Subtype."},"lightLogo":{"type":"string","description":"The Light Logo for the Payment Subtype."}},"description":"The Logo URLs for a Payment Subtype."},"ServiceProviderDetail":{"type":"object","properties":{"authSettingsFields":{"type":"array","description":"The Auth Settings Field which this Service Provider Supports.","items":{"$ref":"#/components/schemas/AuthSettingsField"}},"categories":{"type":"array","description":"The Categories which this Service Provider supports.","items":{"type":"string","description":"The Categories which this Service Provider supports."}},"categoryStatuses":{"type":"object","additionalProperties":{"type":"string","description":"The Statuses for each of the Categories for this Service Provider."},"description":"The Statuses for each of the Categories for this Service Provider."},"configSettingsFields":{"type":"array","description":"The Config Settings Field which this Service Provider Supports.","items":{"$ref":"#/components/schemas/ConfigSettingsField"}},"logos":{"$ref":"#/components/schemas/Logos"},"name":{"type":"string","description":"The human readable name of the Service Provider."},"providerSpecificConfigs":{"type":"object","additionalProperties":{"type":"string","description":"The Service Provider Specific Configs. These are specific to the Service Provider. This field is not used by some Service Providers."},"description":"The Service Provider Specific Configs. These are specific to the Service Provider. This field is not used by some Service Providers."},"serviceProvider":{"type":"string","description":"The Service Provider Enum value."},"status":{"type":"string","description":"The status of the service provider integration in this environment."},"url":{"type":"string","description":"The Url for the Service Provider's website."}}},"DiscreteValue":{"type":"object","properties":{"name":{"type":"string","description":"Display name."},"value":{"type":"string","description":"Value"}},"description":"Discrete values for variables which support it"},"RoutingVariableResponse":{"type":"object","properties":{"displayName":{"type":"string","description":"Display name."},"operators":{"type":"array","description":"List of valid operators which can be used with this variable.","items":{"type":"string","description":"List of valid operators which can be used with this variable.","enum":["IN","NOT_IN","EQUALS","NOT_EQUALS","GREATER_THAN","GREATER_THAN_EQUALS","LESS_THAN","LESS_THAN_EQUALS"]}},"values":{"type":"array","description":"Discrete values for variables which support it","items":{"$ref":"#/components/schemas/DiscreteValue"}},"variable":{"type":"string","description":"Variable id.","enum":["COUNTRY_CODE","INSTITUTION_ID","PAYMENT_METHOD_TYPE","PRODUCTS","REGIONS","SOURCE_AMOUNT","SOURCE_AMOUNT_CONVERTED","SERVICE_PROVIDERS","SERVICE_PROVIDER_PRODUCT_HEALTH"]}}},"Country":{"type":"object","properties":{"countryCode":{"type":"string","description":"Two-letter country code (ISO 3166-1 alpha-2)."},"displayName":{"type":"string","description":"The Display Name for the Country."},"flag":{"type":"string","description":"The url to the Country's flag image"}},"description":"Service provider properties country details"},"FiatCurrency":{"type":"object","properties":{"displayName":{"type":"string","description":"The Display Name for the Fiat Currency."},"fiatCurrencyCode":{"type":"string","description":"<p>The Fiat Currency Code</p><p>For Valid Return Values see: <a href=\"https://docs.meld.io/docs/supported-fiat-currencies\">Supported Fiat Currencies</a></p>"},"symbol":{"type":"string","description":"The url to the Fiat Currency's symbol image"}},"description":"Service provider properties Fiat currency details"},"ServiceProviderProperties":{"type":"object","properties":{"countries":{"type":"array","description":"The Countries which are Supported by this Service Provider.","items":{"$ref":"#/components/schemas/Country"}},"cryptoCurrencies":{"type":"array","description":"The Crypto Currencies which are Supported by this Service Provider.","items":{"$ref":"#/components/schemas/CryptoCurrency"}},"fiatCurrencies":{"type":"array","description":"The Fiat Currencies which are Supported by this Service Provider.","items":{"$ref":"#/components/schemas/FiatCurrency"}},"paymentMethods":{"type":"array","description":"The Payment Methods which are Supported by this Service Provider.","items":{"$ref":"#/components/schemas/PaymentMethod"}},"serviceProvider":{"type":"string","description":"The Service Provider these properties are defined for.","enum":["BANXA","BTCDIRECT","MOONPAY","ONRAMPMONEY","RAMP","SIMPLEX","TRANSAK","WYRE","XANPOOL"]}}},"CountryPaymentMethods20220725":{"type":"object","properties":{"countries":{"type":"array","description":"A Set of all the Supported Countries and information about them.","items":{"$ref":"#/components/schemas/Country"}},"countryToPaymentMethods":{"type":"object","additionalProperties":{"type":"array","description":"A Mapping of the Two-letter country code (ISO 3166-1 alpha-2) to the Supported Payment Methods for that Country.","items":{"$ref":"#/components/schemas/PaymentMethod"}},"description":"A Mapping of the Two-letter country code (ISO 3166-1 alpha-2) to the Supported Payment Methods for that Country."}}},"BankLinkingProperties":{"type":"object","properties":{"countries":{"type":"array","description":"The countries supported.","items":{"$ref":"#/components/schemas/Country"}},"status":{"type":"string","description":"The status of this integration."}},"description":"The bank linking properties supported by this service provider."},"CryptoIntegrationProperties":{"type":"object","properties":{"countries":{"type":"array","description":"The countries supported.","items":{"$ref":"#/components/schemas/Country"}},"cryptoCurrencies":{"type":"array","description":"The crypto currencies supported.","items":{"$ref":"#/components/schemas/CryptoCurrency"}},"fiatCurrencies":{"type":"array","description":"The fiat currencies supported.","items":{"$ref":"#/components/schemas/FiatCurrency"}},"paymentMethods":{"type":"array","description":"The payment methods supported.","items":{"$ref":"#/components/schemas/PaymentMethod"}},"status":{"type":"string","description":"The status of this integration."}},"description":"The crypto onramp/offramp properties supported."},"CryptoProperties":{"type":"object","properties":{"offRamp":{"$ref":"#/components/schemas/CryptoIntegrationProperties"},"onRamp":{"$ref":"#/components/schemas/CryptoIntegrationProperties"}},"description":"The crypto properties supported by this service provider."},"FiatPaymentsProperties":{"type":"object","properties":{"countries":{"type":"array","description":"The countries supported.","items":{"$ref":"#/components/schemas/Country"}},"fiatCurrencies":{"type":"array","description":"The fiat currencies supported.","items":{"$ref":"#/components/schemas/FiatCurrency"}},"paymentMethods":{"type":"array","description":"The payment methods supported.","items":{"$ref":"#/components/schemas/PaymentMethod"}},"status":{"type":"string","description":"The status of this integration."}},"description":"The fiat payments properties supported by this service provider."},"ServiceProviderProperties20221110":{"type":"object","properties":{"bankLinking":{"$ref":"#/components/schemas/BankLinkingProperties"},"crypto":{"$ref":"#/components/schemas/CryptoProperties"},"fiatPayments":{"$ref":"#/components/schemas/FiatPaymentsProperties"},"serviceProvider":{"type":"string","description":"The Service Provider these properties are defined for.","enum":["BANXA","BTCDIRECT","MOONPAY","ONRAMPMONEY","RAMP","SIMPLEX","TRANSAK","WYRE","XANPOOL"]}}}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","x-default":"BASIC <Meld API Key>"},"BasicAuth":{"type":"http","scheme":"basic"}}},"tags":[{"name":"Service Provider"}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true,"samples-enabled":true,"headers":[{"key":"Meld-Version","value":"2022-11-10"}]}}