---
title: Retrieve an eCBSV Database Verification
excerpt: Retrieve an eCBSV database verification
api:
  file: persona-webhooks.json
  operationId: retrieve-an-ecbsv-database-verification
hidden: false
---