---
title: Submit an eCBSV Database Verification
excerpt: >-
  Submit an eCBSV database verification for processing. Can only submit
  `initiated` verifications
api:
  file: persona-webhooks.json
  operationId: submit-an-ecbsv-database-verification
hidden: false
---