---
title: Update an eCBSV Database Verification
excerpt: >-
  Updates an existing eCBSV Database verification. Can only update `initiated`
  verifications.
api:
  file: persona-webhooks.json
  operationId: update-an-ecbsv-database-verification
hidden: false
---