---
title: Retrieve a Government Id NFC Verification
excerpt: Retrieve a Government ID NFC verification
api:
  file: persona-webhooks.json
  operationId: retrieve-a-government-id-nfc-verification
hidden: false
---