---
title: Create a Serpro Database Verification
excerpt: Create a new Serpro database verification
api:
  file: persona-webhooks.json
  operationId: create-a-serpro-database-verification
hidden: false
---