---
title: Retrieve a Serpro Database Verification
excerpt: Retrieve a Serpro database verification
api:
  file: persona-webhooks.json
  operationId: retrieve-a-serpro-database-verification
hidden: false
---