---
title: Submit a Serpro Database Verification
excerpt: >-
  Submit a Serpro database verification for processing. Can only submit
  `initiated` verifications
api:
  file: persona-webhooks.json
  operationId: submit-a-serpro-database-verification
hidden: false
---