---
title: Update a Serpro Database Verification
excerpt: >-
  Updates an existing Serpro Database verification. Can only update `initiated`
  verifications.
api:
  file: persona-webhooks.json
  operationId: update-a-serpro-database-verification
hidden: false
---