---
title: Retrieve a Document Verification
excerpt: Retrieves the details of a specific document verification
api:
  file: persona-webhooks.json
  operationId: retrieve-a-document-verification
hidden: false
---