---
title: Submit a Document Verification
excerpt: >-
  Submit a document verification for processing. Can only submit `initiated`
  verifications.
api:
  file: persona-webhooks.json
  operationId: submit-a-document-verification
hidden: false
---