---
title: Create a Database Verification
excerpt: Create a new database verification
api:
  file: persona-webhooks.json
  operationId: create-a-database-verification
hidden: false
---