---
title: Retrieve a Database Verification
excerpt: Retrieve a database verification
api:
  file: persona-webhooks.json
  operationId: retrieve-a-database-verification
hidden: false
---