---
title: Retrieve a Database Verification
excerpt: Retrieve a database business verification
api:
  file: persona-webhooks.json
  operationId: retrieve-a-database-business-verification
hidden: false
---