---
title: Submit a Database Verification
excerpt: >-
  Submit a database verification for processing. Can only submit `initiated`
  verifications
api:
  file: persona-webhooks.json
  operationId: submit-a-database-verification
hidden: false
---