---
title: Update a Database Verification
excerpt: >-
  Updates an existing database verification. Can only update `initiated`
  verifications.
api:
  file: persona-webhooks.json
  operationId: update-a-database-verification
hidden: false
---