---
title: Create a Selfie Verification
excerpt: Create a new selfie verification
api:
  file: persona-webhooks.json
  operationId: create-a-selfie-verification
hidden: false
---