---
title: Retrieve a Selfie Verification
excerpt: Retrieve a selfie ID verification
api:
  file: persona-webhooks.json
  operationId: retrieve-a-selfie-verification
hidden: false
---