---
title: Submit a Selfie Verification
excerpt: >-
  Submit a selfie verification for processing. Can only submit `initiated`
  verifications
api:
  file: persona-webhooks.json
  operationId: submit-a-selfie-verification
hidden: false
---